﻿header.banner svg.logo {
    width: 60px;
    margin-top: 15px;
    fill: #1d252c;
}

@media only screen and (min-width: 1480px) {
    header.banner.large
    svg.logo {
        width: 95px;
        margin-top: 30px;
        fill: #fff;
    }
}




