﻿#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
    z-index: 10000000;
}

.loader {
    position: absolute;
    width: 100px;
    text-align: center;
    top: 50%;
    left: 50%;
    -webkit-transform: translate( -50%, -50%);
    transform: translate( -50%, -50%);
}

    .loader p {
        margin-top: 30px;
        font-family: Roboto,sans-serif;
        font-size: 14px;
        line-height: 1.428571429;
        color: #1d252c;
    }

    .loader:before {
        content: '';
        display: block;
        padding-top: 100%;
    }

.circular {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    -webkit-transform: rotate(2700deg);
    transform: rotate(270deg);
}

.path {
    stroke-dasharray: 0, 126;
    stroke-dashoffset: 0;
    -webkit-animation: dash 2s ease-in-out infinite;
    animation: dash 2s ease-in-out infinite;
    stroke-linecap: butt;
    stroke: #1d252c;
}

@keyframes dash {
    0% {
        stroke-dasharray: 0, 126;
        stroke-dashoffset: 0;
    }

    5% {
        stroke-dasharray: 1, 126;
        stroke-dashoffset: 0;
    }

    45% {
        stroke-dasharray: 126, 0;
        stroke-dashoffset: 0;
    }

    55% {
        stroke-dasharray: 126, 0;
        stroke-dashoffset: 0;
    }

    95% {
        stroke-dasharray: 0, 126;
        stroke-dashoffset: -126;
    }

    100% {
        stroke-dasharray: 0, 126;
        stroke-dashoffset: -126;
    }
}

@-webkit-keyframes dash {
    0% {
        stroke-dasharray: 0, 126;
        stroke-dashoffset: 0;
    }

    5% {
        stroke-dasharray: 1, 126;
        stroke-dashoffset: 0;
    }

    45% {
        stroke-dasharray: 126, 0;
        stroke-dashoffset: 0;
    }

    55% {
        stroke-dasharray: 126, 0;
        stroke-dashoffset: 0;
    }

    95% {
        stroke-dasharray: 0, 126;
        stroke-dashoffset: -126;
    }

    100% {
        stroke-dasharray: 0, 126;
        stroke-dashoffset: -126;
    }
}
