﻿<!DOCTYPE html>
<html lang="en-US" prefix="og: http://ogp.me/ns#">
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />


    <link rel="apple-touch-icon" sizes="180x180" href="~/Asset/Images/Shared/Favicon/180.png?v=M4m6BmKEKP">
    <link rel="icon" type="image/png" sizes="32x32" href="~/Asset/Images/Shared/Favicon/32.png?v=M4m6BmKEKP">
    <link rel="icon" type="image/png" sizes="16x16" href="~/Asset/Images/Shared/Favicon/16.png?v=M4m6BmKEKP">
    <link rel="manifest" href="~/Asset/Json/Shared/manifest02ba.json?v=M4m6BmKEKP">
    <link rel="mask-icon" href="~/Asset/Images/Shared/Favicon/MEDEE CONCRETE_2-01.svg?v=M4m6BmKEKP" color="#5bbad5">
    <link rel="shortcut icon" href="~/Asset/Json/Shared/favicon02ba.ico?v=M4m6BmKEKP">
    <!--
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />-->
    <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
        asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
        asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />-->

    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="~/Asset/Images/Shared/Favicon/144.png?v=M4m6BmKEKP">
    <meta name="theme-color" content="#ffffff">
    <title>@ViewData["Title"] - DSC</title>

    <link rel='dns-prefetch' href='http://fonts.googleapis.com/' />
    <link rel='dns-prefetch' href='http://s.w.org/' />

    <style type="text/css">
        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
    <link rel='stylesheet' id='cookie-notice-front-css' href='~/css/front7bcd.css?ver=4.8.3' type='text/css' media='all' />
    <link rel='stylesheet' id='wpml-legacy-horizontal-list-0-css' href='~/css/style68b3.css?ver=1' type='text/css' media='all' />
    <link rel='stylesheet' id='sage/css-css' href='~/css/main-fe3aed437a.css' type='text/css' media='all' />
    <link rel='stylesheet' id='google-fonts-css' href='https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400|Roboto:300,400' type='text/css' media='all' />
    <script type='text/javascript' src='~/js/jquery-02053ebe83b12b.js?ver=3.1.1'></script>
    <script type='text/javascript'>
        /* <![CDATA[ https:\/\/www.idealwork.com\/wp-admin\/admin-ajax.php*/
        var wpml_xdomain_data = { "css_selector": "wpml-ls-item", "ajax_url": "...", "current_lang": "en" };
        /* ]]> */
    </script>
    <script type='text/javascript' src='~/js/xdomain-data688f.js?ver=3.8.4'></script>
    <link rel='https://api.w.org/' href='~/js/index.html' />
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="~/js/xmlrpc0db0.html?rsd" />
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="~/js/wlwmanifest.xml" />
    <link rel="alternate" type="application/json+oembed" href="~/js/oembed/1.0/embedd6de.json?url=https%3A%2F%2Fwww.idealwork.com%2F" />
    <link rel="alternate" type="text/xml+oembed" href="~/js/oembed/1.0/embedca24?url=https%3A%2F%2Fwww.idealwork.com%2F&amp;format=xml" />
    <meta name="generator" content="WPML ver:3.8.4 stt:38,1,4,3,27;" />
    <style type="text/css">
        .recentcomments a {
            display: inline !important;
            padding: 0 !important;
            margin: 0 !important;
        }
    </style>

    <link rel='stylesheet' href='~/css/Header.css' type='text/css' media='all' />

</head>
<body>

    <!--[if IE]>
    <div class="alert alert-warning">
      You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</div>
    <![endif]-->

    <link rel='stylesheet' id='preloader-style' href='~/css/preloader.css' type='text/css' media='all' />
    <div id="preloader">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
            </svg>
            <p>Loading...</p>
        </div>
    </div>

    <header class="banner large">
        <div class="container">
            <div class="row header-row">
                <div class="col-xs-3 col-xs-offset-1 col-md-1 col-md-offset-0">
                    <a class="brand" asp-area="" asp-controller="Home" asp-action="Index">
                        <svg class="logo" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                            viewBox="0 0 202 189" enable-background="new 0 0 202 189" xml:space="preserve">
                                                    <g>
                                                    <line x1="18.04" y1="110.881" x2="26.376" y2="110.881" />

                                                    <g>
                                                    <g>
                                                    <path d="M55.349,21.442v46.5H44.78l-0.014-31.393l-4.208,31.393h-7.496l-4.438-30.674l-0.015,30.674H18.04v-46.5
                                           h15.646c0.464,2.796,0.942,6.09,1.435,9.885l1.717,11.828l2.779-21.713H55.349z" />

                                     </g>
                                                    <path d="M60.19,28.084h17.282v7.977h-6.918v7.558h6.475v7.583h-6.475v8.764h7.607v7.977H60.19V28.084z" />

                                                    <path d="M83.023,28.084h7.755c5.006,0,8.391,0.23,10.156,0.689c1.763,0.459,3.105,1.215,4.025,2.265
                                        c0.918,1.051,1.492,2.22,1.723,3.508c0.23,1.289,0.344,3.82,0.344,7.595v13.959c0,3.578-0.168,5.97-0.504,7.176
                                        c-0.336,1.206-0.924,2.15-1.76,2.831c-0.838,0.681-1.871,1.157-3.102,1.428s-3.086,0.406-5.564,0.406H83.023V28.084z
                                        M93.388,34.904v26.219c1.494,0,2.413-0.299,2.757-0.898s0.517-2.228,0.517-4.887V39.852c0-1.805-0.058-2.962-0.172-3.471
                                        c-0.115-0.508-0.377-0.882-0.788-1.12C95.292,35.023,94.521,34.904,93.388,34.904z" />

                                                    <path d="M111.867,28.084h17.283v7.977h-6.918v7.558h6.475v7.583h-6.475v8.764h7.607v7.977h-17.973V28.084z" />

                                                    <path d="M134.681,28.084h17.283v7.977h-6.918v7.558h6.475v7.583h-6.475v8.764h7.605v7.977h-17.971V28.084z" />

                                  </g>
                                                    <g>
                                                    <rect x="18.04" y="95.917"  width="8.336" height="82.75" />

                                                    <rect x="18.04" y="170.331"  width="169.8" height="8.336" />

                                                    <rect x="179.56" y="8.813"  width="8.336" height="169.854" />

                                                    <rect x="18.041" y="8.813"  width="169.854" height="8.336" />

                                  </g>
                                                    <g>
                                                    <g>
                                                    <path d="M45.821,92.984H34.066v-7.857c0-2.284-0.126-3.71-0.377-4.276c-0.251-0.566-0.805-0.85-1.661-0.85
                                           c-0.968,0-1.583,0.344-1.843,1.033c-0.261,0.688-0.391,2.178-0.391,4.467v20.997c0,2.195,0.13,3.629,0.391,4.299
                                           c0.26,0.67,0.847,1.006,1.759,1.006c0.875,0,1.447-0.336,1.717-1.008c0.27-0.672,0.405-2.248,0.405-4.73v-5.682h11.754v1.762
                                           c0,4.68-0.331,7.998-0.991,9.953c-0.661,1.959-2.122,3.674-4.383,5.146c-2.262,1.473-5.049,2.209-8.362,2.209
                                           c-3.444,0-6.282-0.625-8.516-1.871s-3.713-2.975-4.439-5.18c-0.726-2.205-1.089-5.523-1.089-9.953V89.243
                                           c0-3.257,0.111-5.7,0.335-7.329c0.224-1.628,0.889-3.197,1.997-4.704c1.107-1.508,2.643-2.695,4.606-3.56
                                           c1.964-0.866,4.221-1.298,6.771-1.298c3.462,0,6.319,0.669,8.572,2.007c2.251,1.339,3.731,3.008,4.439,5.005
                                           c0.707,1.998,1.061,5.107,1.061,9.326V92.984z" />

                                     </g>
                                                    <path d="M61.821,109.215c0,2.369-0.056,4.047-0.167,5.031c-0.112,0.986-0.461,1.887-1.049,2.703
                                        c-0.587,0.814-1.381,1.441-2.381,1.879c-1.001,0.438-2.166,0.654-3.496,0.654c-1.263,0-2.396-0.205-3.401-0.619
                                        c-1.005-0.412-1.813-1.031-2.425-1.855c-0.612-0.826-0.976-1.725-1.093-2.695c-0.116-0.971-0.174-2.67-0.174-5.098v-4.035
                                        c0-2.369,0.056-4.047,0.167-5.031c0.112-0.986,0.461-1.887,1.049-2.703c0.587-0.814,1.381-1.441,2.381-1.879
                                        c1-0.436,2.165-0.654,3.496-0.654c1.262,0,2.396,0.206,3.401,0.619c1.005,0.412,1.813,1.031,2.425,1.855
                                        c0.611,0.826,0.976,1.725,1.092,2.695c0.117,0.973,0.175,2.672,0.175,5.098V109.215z M55.689,101.467
                                        c0-1.098-0.06-1.799-0.182-2.105c-0.122-0.307-0.372-0.459-0.75-0.459c-0.321,0-0.566,0.123-0.735,0.371
                                        c-0.17,0.248-0.255,0.979-0.255,2.193v11.01c0,1.369,0.056,2.215,0.167,2.535c0.112,0.32,0.372,0.48,0.779,0.48
                                        c0.418,0,0.685-0.184,0.802-0.555c0.116-0.367,0.174-1.246,0.174-2.635V101.467z" />

                                                    <path d="M77.883,95.902v23.58h-5.375l-3.19-10.719v10.719h-5.127v-23.58h5.127l3.438,10.617V95.902H77.883z" />

                                                    <path  d="M94.796,105.676h-6.133v-4.1c0-1.191-0.065-1.936-0.197-2.23c-0.131-0.295-0.419-0.443-0.867-0.443
                                        c-0.504,0-0.825,0.18-0.96,0.539c-0.137,0.359-0.204,1.135-0.204,2.33v10.953c0,1.146,0.067,1.895,0.204,2.244
                                        c0.135,0.348,0.441,0.523,0.917,0.523c0.456,0,0.754-0.176,0.896-0.525c0.14-0.352,0.211-1.174,0.211-2.467v-2.965h6.133v0.92
                                        c0,2.439-0.173,4.17-0.518,5.193c-0.345,1.02-1.107,1.914-2.286,2.682c-1.18,0.77-2.634,1.152-4.362,1.152
                                        c-1.797,0-3.277-0.324-4.442-0.975c-1.166-0.65-1.938-1.551-2.316-2.703c-0.379-1.15-0.568-2.881-0.568-5.191v-6.891
                                        c0-1.697,0.058-2.973,0.174-3.822s0.464-1.668,1.042-2.455c0.578-0.785,1.378-1.404,2.403-1.857
                                        c1.024-0.449,2.201-0.676,3.532-0.676c1.806,0,3.296,0.35,4.472,1.047c1.174,0.697,1.946,1.568,2.315,2.611
                                        s0.554,2.664,0.554,4.863V105.676z" />

                                                    <path  d="M97.216,95.902h4.341c2.894,0,4.851,0.111,5.876,0.334c1.023,0.225,1.859,0.795,2.506,1.713
                                        c0.645,0.916,0.967,2.381,0.967,4.391c0,1.836-0.227,3.068-0.684,3.699c-0.455,0.633-1.354,1.01-2.693,1.137
                                        c1.211,0.301,2.027,0.705,2.445,1.209s0.678,0.969,0.779,1.391c0.104,0.422,0.152,1.586,0.152,3.488v6.219h-5.693v-7.836
                                        c0-1.262-0.1-2.043-0.299-2.346c-0.199-0.299-0.723-0.451-1.566-0.451v10.633h-6.131V95.902z M103.348,99.936v5.244
                                        c0.691,0,1.172-0.096,1.449-0.283c0.277-0.189,0.416-0.803,0.416-1.842v-1.297c0-0.748-0.133-1.238-0.4-1.471
                                        C104.543,100.053,104.057,99.936,103.348,99.936z" />

                                                    <path  d="M113.328,95.902h10.224v4.719h-4.091v4.473h3.829v4.484h-3.829v5.186h4.499v4.719h-10.632V95.902z" />

                                                    <path  d="M139.779,95.902v4.719h-3.641v18.861h-6.133v-18.861h-3.625v-4.719H139.779z" />

                                                    <path  d="M142.2,95.902h10.225v4.719h-4.093v4.473h3.829v4.484h-3.829v5.186h4.5v4.719H142.2V95.902z" />

                                                    <path  d="M158.922,97.375h0.701c0.468,0,0.784,0.018,0.95,0.054s0.301,0.128,0.405,0.276s0.156,0.386,0.156,0.71
                                        c0,0.297-0.037,0.496-0.11,0.599c-0.074,0.103-0.219,0.163-0.436,0.184c0.195,0.049,0.328,0.114,0.396,0.195
                                        c0.067,0.082,0.109,0.156,0.126,0.225s0.024,0.257,0.024,0.564v1.005h-0.921V99.92c0-0.204-0.016-0.33-0.048-0.379
                                        s-0.117-0.073-0.253-0.073v1.719h-0.991V97.375z M159.913,98.026v0.849c0.111,0,0.189-0.016,0.234-0.046
                                        c0.044-0.031,0.066-0.13,0.066-0.298v-0.21c0-0.121-0.021-0.2-0.064-0.237C160.106,98.046,160.027,98.026,159.913,98.026z" />

                                                    <circle stroke-width="0.5" stroke-miterlimit="10" cx="160.028" cy="99.281" r="3.38" />

                                  </g>
                               </g>
                            </svg>
                    </a>
                </div>
                <nav class="main-navigation">
                    <!--<div class="mobile-search-container clearfix visible-xs visible-sm">
                        <div class="search-form col-xs-10 col-xs-offset-1">
                            <form name="mobileSearchForm" role="search" method="get" class="search-form" action="https://www.idealwork.com/">
                                <input id="search-input" type="search" class="search-field" value="" name="s">
                                <label for="search-input">Search</label>
                                <div class="form-submit">
                                    <span aria-hidden="true" class="icon-search" onclick="mobileSearchForm.submit()"></span>
                                </div>
                            </form>
                        </div>
                    </div>-->
                    <div class="menu-main-container">
                        <ul id="nav_primary" class="nav">
                            <!--<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
        <a href="#">Solutions</a>
        <ul class="sub-menu">
            <li class="menu-item menu-item-type-post_type_archive "><a asp-area="" asp-controller="Solutions" asp-action="Typologies">Typologies</a></li>
            <li class="menu-item menu-item-type-post_type_archive "><a asp-area="" asp-controller="Solutions" asp-action="IndoorApplications">Indoor Applications</a></li>
            <li class="menu-item menu-item-type-post_type_archive "><a asp-area="" asp-controller="Solutions" asp-action="OutdoorApplications">Outdoor Applications</a></li>
            <li class="menu-item menu-item-type-post_type_archive "><a asp-area="" asp-controller="Solutions" asp-action="Styles">Styles</a></li>
        </ul>
    </li>
    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
        <a href="#">Renovation</a>
        <ul class="sub-menu">
            <li class="menu-item menu-item-type-post_type_archive menu-item-object-page"><a asp-area="" asp-controller="Renovations" asp-action="OutdoorRenovation">Outdoor Renovation</a></li>
            <li class="menu-item menu-item-type-post_type_archive menu-item-object-page"><a asp-area="" asp-controller="Renovations" asp-action="IndoorRenovation">Indoor Renovation</a></li>
        </ul>
    </li>-->

                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
                                <a href="#">ผลิตภัณฑ์</a>
                                <ul class="sub-menu">
                                    <!--<li class="menu-item menu-item-type-post_type menu-item-object-product-line"><a asp-area="" asp-controller="ProductLines" asp-action="AcidStainedFloor">Acid Stained Floor</a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-product-line"><a asp-area="" asp-controller="ProductLines" asp-action="IdealTix">Ideal Tix</a></li>-->
                                    <li class="menu-item menu-item-type-post_type menu-item-object-product-line"><a asp-area="" asp-controller="ProductLines" asp-action="IdealWall">รั้วสำเร็จรูป</a></li>
                                    <!--<li class="menu-item menu-item-type-post_type menu-item-object-product-line"><a asp-area="" asp-controller="ProductLines" asp-action="Lixio">Lixio®</a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-product-line"><a asp-area="" asp-controller="ProductLines" asp-action="LixioPlus">Lixio®+</a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-product-line"><a asp-area="" asp-controller="ProductLines" asp-action="Microtopping">Microtopping®</a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-product-line"><a asp-area="" asp-controller="ProductLines" asp-action="MicrotoppingWallTexture">Microtopping Wall Texture</a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-product-line"><a asp-area="" asp-controller="ProductLines" asp-action="NuvolatoArchitop">Nuvolato Architop®</a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-product-line"><a asp-area="" asp-controller="ProductLines" asp-action="Purometallo">Purometallo</a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-product-line"><a asp-area="" asp-controller="ProductLines" asp-action="Rasico">Rasico</a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-product-line"><a asp-area="" asp-controller="ProductLines" asp-action="SassoitaliaFloor">Sassoitalia® Floor</a></li>-->
                                    <li class="menu-item menu-item-type-post_type menu-item-object-product-line"><a asp-area="" asp-controller="ProductLines" asp-action="StampedConcrete">คอนกรีต<br />พิมพ์ลาย</a></li>
                                    <!--<li class="menu-item menu-item-type-post_type menu-item-object-product-line"><a asp-area="" asp-controller="ProductLines" asp-action="StenciltopFloor">Stenciltop Floor</a></li>-->
                                </ul>
                            </li>
                            <li class="menu-item menu-item-type-post_type_archive menu-item-object-work">
                                <a asp-area="" asp-controller="Projects" asp-action="Projects" asp-route-filter="All">โครงการ</a>
                            </li>
                        </ul>
                    </div>
                    <div class="menu-customer-container">
                        <ul id="nav_customer" class="nav">
                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
                                <a href="#">โครงสร้าง</a>
                                <ul class="sub-menu">
                                    @*<li class="menu-item menu-item-type-post_type menu-item-object-page"><a asp-area="" asp-controller="ContractorsArea" asp-action="Trainingcourses">Training courses</a></li>*@
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page"><a asp-area="" asp-controller="ContractorsArea" asp-action="VideoTutorial">วีดีโอสอน</a></li>
                                    @*<li class="menu-item menu-item-type-post_type menu-item-object-page"><a asp-area="" asp-controller="ContractorsArea" asp-action="ImaginationSoftware">Imagination Software</a></li>*@
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page"><a asp-area="" asp-controller="ContractorsArea" asp-action="Catalogues">แคตตาล็อก</a></li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page"><a asp-area="" asp-controller="ContractorsArea" asp-action="TechnicalDocumentation">เอกสารทางเทคนิค</a></li>
                                    @*<li class="menu-item menu-item-type-post_type menu-item-object-page"><a asp-area="" asp-controller="ContractorsArea" asp-action="Download">Download</a></li>*@
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="menu-institutional-container">
                        <ul id="nav_institutional" class="nav">
                            <li id="menu-item-1991" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1991">
                                <a href="#">บริษัท</a>
                                <ul class="sub-menu">
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page"><a asp-area="" asp-controller="Company" asp-action="Company">เกี่ยวกับเรา</a></li>
                                    @*<li class="menu-item menu-item-type-post_type menu-item-object-page"><a asp-area="" asp-controller="Company" asp-action="IdealNews">Ideal News</a></li>*@
                                    @*<li class="menu-item menu-item-type-post_type menu-item-object-page"><a asp-area="" asp-controller="Company" asp-action="UnrepeatableBeauty">Unrepeatable Beauty</a></li>*@
                                    @*<li class="menu-item menu-item-type-post_type menu-item-object-page"><a asp-area="" asp-controller="Company" asp-action="SocialWall">Social Wall</a></li>*@
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="menu-utility-container">
                        <ul id="nav_utility" class="nav">
                            <li class="menu-item--bigger menu-item menu-item-type-post_type menu-item-object-page"><a asp-area="" asp-controller="Company" asp-action="Contacts">ติดต่อ</a></li>
                        </ul>
                    </div>
                </nav>

                <div class="menu-toggle-container no-padding visible-xs visible-sm col-xs-3 col-xs-offset-4">
                    <div class="menu-toggle">
                        <div id="hamburger">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <div id="cross">
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </header>

    <partial name="_CookieConsentPartial" />
    <div>
        @RenderBody()
    </div>

    <footer class="content-info background-primary">
        <div class="container">
            <div class="row">
                <div class="footer-brand col-xs-10 col-xs-offset-1 col-md-12 col-md-offset-0">
                    <div class="footer-inner row">
                        <div class="footer-logo col-xs-3 col-sm-2 col-md-1">
                            <a class="brand" asp-area="" asp-controller="Home" asp-action="Index">
                                <svg class="logo" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                                     viewBox="0 0 202 189" enable-background="new 0 0 202 189" xml:space="preserve">
                                <g>
                                <line x1="18.04" y1="110.881" x2="26.376" y2="110.881" />







                                <g>
                                <g>
                                <path d="M55.349,21.442v46.5H44.78l-0.014-31.393l-4.208,31.393h-7.496l-4.438-30.674l-0.015,30.674H18.04v-46.5
                                           h15.646c0.464,2.796,0.942,6.09,1.435,9.885l1.717,11.828l2.779-21.713H55.349z" />







                                     </g>
                                <path d="M60.19,28.084h17.282v7.977h-6.918v7.558h6.475v7.583h-6.475v8.764h7.607v7.977H60.19V28.084z" />







                                <path d="M83.023,28.084h7.755c5.006,0,8.391,0.23,10.156,0.689c1.763,0.459,3.105,1.215,4.025,2.265
                                        c0.918,1.051,1.492,2.22,1.723,3.508c0.23,1.289,0.344,3.82,0.344,7.595v13.959c0,3.578-0.168,5.97-0.504,7.176
                                        c-0.336,1.206-0.924,2.15-1.76,2.831c-0.838,0.681-1.871,1.157-3.102,1.428s-3.086,0.406-5.564,0.406H83.023V28.084z
                                        M93.388,34.904v26.219c1.494,0,2.413-0.299,2.757-0.898s0.517-2.228,0.517-4.887V39.852c0-1.805-0.058-2.962-0.172-3.471
                                        c-0.115-0.508-0.377-0.882-0.788-1.12C95.292,35.023,94.521,34.904,93.388,34.904z" />







                                <path d="M111.867,28.084h17.283v7.977h-6.918v7.558h6.475v7.583h-6.475v8.764h7.607v7.977h-17.973V28.084z" />







                                <path d="M134.681,28.084h17.283v7.977h-6.918v7.558h6.475v7.583h-6.475v8.764h7.605v7.977h-17.971V28.084z" />







                                  </g>
                                <g>
                                <rect x="18.04" y="95.917" width="8.336" height="82.75" />







                                <rect x="18.04" y="170.331" width="169.8" height="8.336" />







                                <rect x="179.56" y="8.813" width="8.336" height="169.854" />







                                <rect x="18.041" y="8.813" width="169.854" height="8.336" />







                                  </g>
                                <g>
                                <g>
                                <path d="M45.821,92.984H34.066v-7.857c0-2.284-0.126-3.71-0.377-4.276c-0.251-0.566-0.805-0.85-1.661-0.85
                                           c-0.968,0-1.583,0.344-1.843,1.033c-0.261,0.688-0.391,2.178-0.391,4.467v20.997c0,2.195,0.13,3.629,0.391,4.299
                                           c0.26,0.67,0.847,1.006,1.759,1.006c0.875,0,1.447-0.336,1.717-1.008c0.27-0.672,0.405-2.248,0.405-4.73v-5.682h11.754v1.762
                                           c0,4.68-0.331,7.998-0.991,9.953c-0.661,1.959-2.122,3.674-4.383,5.146c-2.262,1.473-5.049,2.209-8.362,2.209
                                           c-3.444,0-6.282-0.625-8.516-1.871s-3.713-2.975-4.439-5.18c-0.726-2.205-1.089-5.523-1.089-9.953V89.243
                                           c0-3.257,0.111-5.7,0.335-7.329c0.224-1.628,0.889-3.197,1.997-4.704c1.107-1.508,2.643-2.695,4.606-3.56
                                           c1.964-0.866,4.221-1.298,6.771-1.298c3.462,0,6.319,0.669,8.572,2.007c2.251,1.339,3.731,3.008,4.439,5.005
                                           c0.707,1.998,1.061,5.107,1.061,9.326V92.984z" />







                                     </g>
                                <path d="M61.821,109.215c0,2.369-0.056,4.047-0.167,5.031c-0.112,0.986-0.461,1.887-1.049,2.703
                                        c-0.587,0.814-1.381,1.441-2.381,1.879c-1.001,0.438-2.166,0.654-3.496,0.654c-1.263,0-2.396-0.205-3.401-0.619
                                        c-1.005-0.412-1.813-1.031-2.425-1.855c-0.612-0.826-0.976-1.725-1.093-2.695c-0.116-0.971-0.174-2.67-0.174-5.098v-4.035
                                        c0-2.369,0.056-4.047,0.167-5.031c0.112-0.986,0.461-1.887,1.049-2.703c0.587-0.814,1.381-1.441,2.381-1.879
                                        c1-0.436,2.165-0.654,3.496-0.654c1.262,0,2.396,0.206,3.401,0.619c1.005,0.412,1.813,1.031,2.425,1.855
                                        c0.611,0.826,0.976,1.725,1.092,2.695c0.117,0.973,0.175,2.672,0.175,5.098V109.215z M55.689,101.467
                                        c0-1.098-0.06-1.799-0.182-2.105c-0.122-0.307-0.372-0.459-0.75-0.459c-0.321,0-0.566,0.123-0.735,0.371
                                        c-0.17,0.248-0.255,0.979-0.255,2.193v11.01c0,1.369,0.056,2.215,0.167,2.535c0.112,0.32,0.372,0.48,0.779,0.48
                                        c0.418,0,0.685-0.184,0.802-0.555c0.116-0.367,0.174-1.246,0.174-2.635V101.467z" />







                                <path d="M77.883,95.902v23.58h-5.375l-3.19-10.719v10.719h-5.127v-23.58h5.127l3.438,10.617V95.902H77.883z" />







                                <path d="M94.796,105.676h-6.133v-4.1c0-1.191-0.065-1.936-0.197-2.23c-0.131-0.295-0.419-0.443-0.867-0.443
                                        c-0.504,0-0.825,0.18-0.96,0.539c-0.137,0.359-0.204,1.135-0.204,2.33v10.953c0,1.146,0.067,1.895,0.204,2.244
                                        c0.135,0.348,0.441,0.523,0.917,0.523c0.456,0,0.754-0.176,0.896-0.525c0.14-0.352,0.211-1.174,0.211-2.467v-2.965h6.133v0.92
                                        c0,2.439-0.173,4.17-0.518,5.193c-0.345,1.02-1.107,1.914-2.286,2.682c-1.18,0.77-2.634,1.152-4.362,1.152
                                        c-1.797,0-3.277-0.324-4.442-0.975c-1.166-0.65-1.938-1.551-2.316-2.703c-0.379-1.15-0.568-2.881-0.568-5.191v-6.891
                                        c0-1.697,0.058-2.973,0.174-3.822s0.464-1.668,1.042-2.455c0.578-0.785,1.378-1.404,2.403-1.857
                                        c1.024-0.449,2.201-0.676,3.532-0.676c1.806,0,3.296,0.35,4.472,1.047c1.174,0.697,1.946,1.568,2.315,2.611
                                        s0.554,2.664,0.554,4.863V105.676z" />







                                <path d="M97.216,95.902h4.341c2.894,0,4.851,0.111,5.876,0.334c1.023,0.225,1.859,0.795,2.506,1.713
                                        c0.645,0.916,0.967,2.381,0.967,4.391c0,1.836-0.227,3.068-0.684,3.699c-0.455,0.633-1.354,1.01-2.693,1.137
                                        c1.211,0.301,2.027,0.705,2.445,1.209s0.678,0.969,0.779,1.391c0.104,0.422,0.152,1.586,0.152,3.488v6.219h-5.693v-7.836
                                        c0-1.262-0.1-2.043-0.299-2.346c-0.199-0.299-0.723-0.451-1.566-0.451v10.633h-6.131V95.902z M103.348,99.936v5.244
                                        c0.691,0,1.172-0.096,1.449-0.283c0.277-0.189,0.416-0.803,0.416-1.842v-1.297c0-0.748-0.133-1.238-0.4-1.471
                                        C104.543,100.053,104.057,99.936,103.348,99.936z" />







                                <path d="M113.328,95.902h10.224v4.719h-4.091v4.473h3.829v4.484h-3.829v5.186h4.499v4.719h-10.632V95.902z" />







                                <path d="M139.779,95.902v4.719h-3.641v18.861h-6.133v-18.861h-3.625v-4.719H139.779z" />







                                <path d="M142.2,95.902h10.225v4.719h-4.093v4.473h3.829v4.484h-3.829v5.186h4.5v4.719H142.2V95.902z" />







                                <path d="M158.922,97.375h0.701c0.468,0,0.784,0.018,0.95,0.054s0.301,0.128,0.405,0.276s0.156,0.386,0.156,0.71
                                        c0,0.297-0.037,0.496-0.11,0.599c-0.074,0.103-0.219,0.163-0.436,0.184c0.195,0.049,0.328,0.114,0.396,0.195
                                        c0.067,0.082,0.109,0.156,0.126,0.225s0.024,0.257,0.024,0.564v1.005h-0.921V99.92c0-0.204-0.016-0.33-0.048-0.379
                                        s-0.117-0.073-0.253-0.073v1.719h-0.991V97.375z M159.913,98.026v0.849c0.111,0,0.189-0.016,0.234-0.046
                                        c0.044-0.031,0.066-0.13,0.066-0.298v-0.21c0-0.121-0.021-0.2-0.064-0.237C160.106,98.046,160.027,98.026,159.913,98.026z" />







                                <circle stroke="#010101" stroke-width="0.5" stroke-miterlimit="10" cx="160.028" cy="99.281" r="3.38" />







                                  </g>
                               </g>
                            </svg>



                            </a>
                        </div>

                        <div class="brand-data col-xs-9 col-sm-6 col-md-7 col-lg-9">
                            <p class="text-2">มีดี คอนกรีต</p>
                        </div>

                        <div class="footer-social col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0 col-lg-2">
                            <ul class="social-list">
                                <li>
                                    <a href="https://www.facebook.com/Designcement/" target="_blank"
                                       class="icon icon-facebook"></a>
                                </li>
                                <li>
                                    <a href="https://www.youtube.com/channel/UCWfg7_ANq-CMyOtHVrx3FrQ" target="_blank"
                                       class="icon icon-youtube"></a>
                                </li>
                                <!--<li>
        <a href="https://it.pinterest.com/idealwork/" target="_blank"
           class="icon icon-pinterest"></a>
    </li>
    <li>
        <a href="https://www.linkedin.com/company/ideal-work-srl-italy/" target="_blank"
           class="icon icon-linkedin"></a>
    </li>
    <li>
        <a href="https://www.instagram.com/idealwork_official/" target="_blank"
           class="icon icon-instagram"></a>
    </li>-->
                            </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="footer-menu-alternative">
            <div class="row">
                <div class="footer-menu col-xs-10 col-xs-offset-1 col-md-12 col-md-offset-0">
                    <ul id="nav_footer" class="footer-nav">
                        <!--<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
                    <a>Solutions</a>
                    <ul class="sub-menu">
                        <li class="menu-item menu-item-type-post_type_archive "><a asp-area="" asp-controller="Solutions" asp-action="Typologies">Typologies</a></li>
                        <li class="menu-item menu-item-type-post_type_archive "><a asp-area="" asp-controller="Solutions" asp-action="IndoorApplications">Indoor Applications</a></li>
                        <li class="menu-item menu-item-type-post_type_archive "><a asp-area="" asp-controller="Solutions" asp-action="OutdoorApplications">Outdoor Applications</a></li>
                        <li class="menu-item menu-item-type-post_type_archive "><a asp-area="" asp-controller="Solutions" asp-action="Styles">Styles</a></li>
                    </ul>
                </li>
                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
                    <a>Renovations</a>
                    <ul class="sub-menu">
                        <li class="menu-item menu-item-type-post_type_archive "><a asp-area="" asp-controller="Renovations" asp-action="OutdoorRenovation">Outdoor Renovation</a></li>
                        <li class="menu-item menu-item-type-post_type_archive "><a asp-area="" asp-controller="Renovations" asp-action="IndoorRenovation">Indoor Renovation</a></li>
                    </ul>
                </li>-->

                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
                                    <a>ผลิตภัณฑ์</a>
                                    <ul class="sub-menu">
                                        <!--<li class="menu-item menu-item-type-post_type_archive "><a asp-area="" asp-controller="ProductLines" asp-action="AcidStainedFloor">Acid Stained Floor</a></li>
            <li class="menu-item menu-item-type-post_type_archive "><a asp-area="" asp-controller="ProductLines" asp-action="IdealTix">Ideal Tix</a></li>-->
                                        <li class="menu-item menu-item-type-post_type_archive "><a asp-area="" asp-controller="ProductLines" asp-action="IdealWall">รั้วสำเร็จรูป</a></li>
                                        <!--li class="menu-item menu-item-type-post_type_archive "><a asp-area="" asp-controller="ProductLines" asp-action="Lixio">Lixio®</a></li>
            <li class="menu-item menu-item-type-post_type_archive "><a asp-area="" asp-controller="ProductLines" asp-action="LixioPlus">Lixio®+</a></li>
            <li class="menu-item menu-item-type-post_type_archive "><a asp-area="" asp-controller="ProductLines" asp-action="Microtopping">Microtopping®</a></li>
            <li class="menu-item menu-item-type-post_type_archive "><a asp-area="" asp-controller="ProductLines" asp-action="MicrotoppingWallTexture">Microtopping Wall Texture</a></li>
            <li class="menu-item menu-item-type-post_type_archive "><a asp-area="" asp-controller="ProductLines" asp-action="NuvolatoArchitop">Nuvolato Architop®</a></li>
            <li class="menu-item menu-item-type-post_type_archive "><a asp-area="" asp-controller="ProductLines" asp-action="Purometallo">Purometallo</a></li>
            <li class="menu-item menu-item-type-post_type_archive "><a asp-area="" asp-controller="ProductLines" asp-action="Rasico">Rasico</a></li>
            <li class="menu-item menu-item-type-post_type_archive "><a asp-area="" asp-controller="ProductLines" asp-action="SassoitaliaFloor">Sassoitalia® Floor</a></li>-->

                                        <li class="menu-item menu-item-type-post_type_archive "><a asp-area="" asp-controller="ProductLines" asp-action="StampedConcrete">คอนกรีตพิมพ์ลาย</a></li>
                                        <!--<li class="menu-item menu-item-type-post_type_archive "><a asp-area="" asp-controller="ProductLines" asp-action="StenciltopFloor">Stenciltop Floor</a></li>-->
                                    </ul>
                                </li>
                                <li class="menu-item menu-item-type-custom menu-item-object-custom"><a asp-area="" asp-controller="Projects" asp-action="Projects" asp-route-filter="All">โครงการ</a></li>
                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
                                    <a>โครงสร้าง</a>
                                    <ul class="sub-menu">
                                        @*<li class="menu-item menu-item-type-post_type_archive "><a asp-area="" asp-controller="ContractorsArea" asp-action="Trainingcourses">Training courses</a></li>*@
                                        <li class="menu-item menu-item-type-post_type_archive "><a asp-area="" asp-controller="ContractorsArea" asp-action="VideoTutorial">วีดีโอสอน</a></li>
                                        @*<li class="menu-item menu-item-type-post_type_archive "><a asp-area="" asp-controller="ContractorsArea" asp-action="ImaginationSoftware">Imagination Software</a></li>*@
                                        <li class="menu-item menu-item-type-post_type_archive "><a asp-area="" asp-controller="ContractorsArea" asp-action="Catalogues">แคตตาล็อก</a></li>
                                        <li class="menu-item menu-item-type-post_type_archive "><a asp-area="" asp-controller="ContractorsArea" asp-action="TechnicalDocumentation">เอกสารทางเทคนิค</a></li>
                                        @*<li class="menu-item menu-item-type-post_type_archive "><a asp-area="" asp-controller="ContractorsArea" asp-action="Download">Download</a></li>*@
                                    </ul>
                                </li>
                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
                                    <a>บริษัท</a>
                                    <ul class="sub-menu">
                                        <li class="menu-item menu-item-type-post_type_archive "><a asp-area="" asp-controller="Company" asp-action="Company">เกี่ยวกับเรา</a></li>
                                        @*<li class="menu-item menu-item-type-post_type_archive "><a asp-area="" asp-controller="Company" asp-action="IdealNews">Ideal News</a></li>*@
                                        @*<li class="menu-item menu-item-type-post_type_archive "><a asp-area="" asp-controller="Company" asp-action="UnrepeatableBeauty">Unrepeatable Beauty</a></li>*@
                                        @*<li class="menu-item menu-item-type-post_type_archive "><a asp-area="" asp-controller="Company" asp-action="SocialWall">Social Wall</a></li>*@
                                        <li class="menu-item menu-item-type-post_type_archive "><a asp-area="" asp-controller="Company" asp-action="Contacts">ติดต่อ</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!--<div class="row">
        <div class="footer-extra col-xs-10 col-xs-offset-1">
            <img src="~/Asset/Images/Shared/Uploads/exp-logos.png" class="img-responsive" alt="" />
        </div>
    </div>
        -->
        </div>

        <div class="copyright-footer clearfix">
            <div class="col-xs-10 col-xs-offset-1 col-md-12 col-md-offset-0 text-center">
                <span class="text-4">&copy; 2020 - มีดี คอนกรีต - โดย ดีไซน์ ซีเมนต์</span>
                <!--<span class="text-4">
                    - <a href="privacy-policy/index.html"
                         target="_blank">Privacy</a>
                </span>
                <span class="text-4">
        - <a href="http://www.digital-mind.it/"
             target="_blank">#DigitalMind</a>
    </span>-->
            </div>
        </div>
    </footer>

    <script type='text/javascript' src='~/js/fronta076.js?ver=1.2.39'></script>
    <script type='text/javascript' src='~/js/main-29189b44da.js'></script>
    <script type='text/javascript' src='~/js/wp-embed.min7bcd.js?ver=4.8.3'></script>

    @*<div id="cookie-notice" role="banner" class="cn-bottom" style="color: #fff; background-color: #1d252c;">
        <div class="cookie-notice-container">
            <span id="cn-notice-text">
                This website uses its own cookies to improve your web experience and third-party ones to send you promotional messages according to your interests.<br>
                If you click on “Ok” and continue your web experience, you accept the <a href="privacy-e-cookie/index.html" target="_blank">cookie policy</a>.
            </span><a href="#" id="cn-accept-cookie" data-cookie-set="accept" class="cn-set-cookie button">Ok</a>
        </div>
        </div>*@
    <script type='text/javascript'>
        /* <![CDATA[ "https:\/\/www.idealwork.com\/wp-admin\/admin-ajax.php" */
        var cnArgs = { "ajaxurl": "...", "hideEffect": "slide", "onScroll": "yes", "onScrollOffset": "150", "cookieName": "cookie_notice_accepted", "cookieValue": "TRUE", "cookieTime": "2592000", "cookiePath": "\/", "cookieDomain": "", "redirection": "", "cache": "1" };
                            /* ]]> */
    </script>
    <!--
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>-->

    @RenderSection("Scripts", required: false)
</body>
</html>
