﻿@{
    ViewData["Title"] = "IndoorApplications";
}
    <body class="archive post-type-archive post-type-archive-indoor-application">

        <div id="stickyTrigger"></div>
        <div class="wrap container-fluid" role="document">
            <div class="content row">
                <main class="main">

                    <section class="boxed-slider-hero">
                        <div class="text-container">
                            <div class="page-header">

                                <div class="breadcrumbs-container">
                                    <p id="breadcrumbs">
                                    <span xmlns:v="http://rdf.data-vocabulary.org/#">
                                        <span typeof="v:Breadcrumb">
                                            <a asp-area="" asp-controller="Home" asp-action="Index" rel="v:url" property="v:title">Home</a>
                                            / <span class="breadcrumb_last">Indoor Applications</span>
                                        </span></span></p>
                                </div>

                                <div class="page-title-container">
                                    <h1>Indoor Applications</h1>
                                </div>

                                <div class="page-subtitle">
                                    <p class="text-1">
                                        Shape and create the environment you want among the many Ideal Work® solutions.<br />
                                        Choose your custom-made coating.
                                    </p>
                                </div>

                            </div>


                            <div class="show-more">
                                <a href="#more" class="hidden-xs hidden-sm">
                                    <span class="icon icon-arrow-down"></span>
                                    <span class="text-3">
                                        Find out more
                                    </span>
                                </a>
                            </div>
                        </div>

                        <div class="cover-holder" style="background-image: url('../wp-content/uploads/2017/07/indoor.jpg')">
                            <div class="slider-overlay"></div>
                        </div>



                    </section>


                    <div class="container">
                        <div id="more" class="clearfix listing-items-row">
                            <div class="listing-item listing-item-big">
                                <a asp-area="" asp-controller="IndoorApplications" asp-action="living">
                                    <div class="image-holder" style="background-image: url('../wp-content/uploads/2017/05/Living-idealwork.jpg')">
                                    </div>
                                    <h5>Living</h5>
                                </a>
                            </div>

                            <div class="listing-item listing-item-big">
                                <a asp-area="" asp-controller="IndoorApplications" asp-action="bathroom">
                                    <div class="image-holder" style="background-image: url('../wp-content/uploads/2017/05/Slider-bathroom.jpg')">
                                    </div>
                                    <h5>Bathroom</h5>
                                </a>
                            </div>

                            <div class="listing-item listing-item-big">
                                <a asp-area="" asp-controller="IndoorApplications" asp-action="bedrooms">
                                    <div class="image-holder" style="background-image: url('../wp-content/uploads/2017/07/WP_ArjaanDeFeyter_Kanaal_014klein-1.jpg')">
                                    </div>
                                    <h5>Bedrooms</h5>
                                </a>
                            </div>

                            <div class="listing-item listing-item-big">
                                <a asp-area="" asp-controller="IndoorApplications" asp-action="kitchen">
                                    <div class="image-holder" style="background-image: url('../wp-content/uploads/2019/03/2019_02_LEDOUX-%e2%80%93-HELLEPUTTE_belgio_MT_45.jpg')">
                                    </div>
                                    <h5>Kitchen</h5>
                                </a>
                            </div>

                            <div class="listing-item">
                                <a asp-area="" asp-controller="IndoorApplications" asp-action="restaurant">
                                    <div class="image-holder" style="background-image: url('../wp-content/uploads/2017/05/reastaurant-idealwork-architop-5-quadrato.jpg')">
                                    </div>
                                    <h5>Restaurant</h5>
                                </a>
                            </div>

                            <div class="listing-item">
                                <a asp-area="" asp-controller="IndoorApplications" asp-action="walls">
                                    <div class="image-holder" style="background-image: url('../wp-content/uploads/2017/07/annashowroom.jpg')">
                                    </div>
                                    <h5>Walls</h5>
                                </a>
                            </div>

                            <div class="listing-item">
                                <a asp-area="" asp-controller="IndoorApplications" asp-action="staircases">
                                    <div class="image-holder" style="background-image: url('../wp-content/uploads/2017/05/solution-listing-scale.jpg')">
                                    </div>
                                    <h5>Staircases</h5>
                                </a>
                            </div>

                            <div class="listing-item">
                                <a asp-area="" asp-controller="IndoorApplications" asp-action="furniture">
                                    <div class="image-holder" style="background-image: url('../wp-content/uploads/2017/05/solution-listing-mobili.jpg')">
                                    </div>
                                    <h5>Furniture</h5>
                                </a>
                            </div>

                            <div class="listing-item listing-item-big">
                                <a asp-area="" asp-controller="IndoorApplications" asp-action="museums">
                                    <div class="image-holder" style="background-image: url('../wp-content/uploads/2017/05/solution-listing-musei.jpg')">
                                    </div>
                                    <h5>Museums</h5>
                                </a>
                            </div>

                            <div class="listing-item listing-item-big">
                                <a asp-area="" asp-controller="IndoorApplications" asp-action="offices">
                                    <div class="image-holder" style="background-image: url('../wp-content/uploads/2017/11/2017_08_Smart-Office-Dubai_-MT7_web.jpg')">
                                    </div>
                                    <h5>Offices</h5>
                                </a>
                            </div>

                            <div class="listing-item listing-item-big">
                                <a asp-area="" asp-controller="IndoorApplications" asp-action="retail">
                                    <div class="image-holder" style="background-image: url('../wp-content/uploads/2017/05/solution-listing-negozi.jpg')">
                                    </div>
                                    <h5>Retail</h5>
                                </a>
                            </div>

                            <div class="listing-item listing-item-big">
                                <a asp-area="" asp-controller="IndoorApplications" asp-action="publicplaces">
                                    <div class="image-holder" style="background-image: url('../wp-content/uploads/2017/05/solution-listing-luoghi-pubblici.jpg')">
                                    </div>
                                    <h5>Public Places</h5>
                                </a>
                            </div>


                        </div>
                    </div>

                </main><!-- /.main -->
            </div><!-- /.content -->

            <div class="prefooter container">
                <div class="row">
                    <div class="cta-title-container col-md-6">
                        <h3>Contact Us</h3>
                    </div>

                    <div class="cta-container col-md-4">
                        <p class="text-1">
                            Do you have any other requests or curiosities?<br />
                            Do you want more information about products and services?<br />
                            You want to become an Ideal Work® partner<br />
                            or simply contact the company?
                        </p>
                        <a asp-area="" asp-controller="Company" asp-action="Contacts" class="cta">
                            <span class="icon icon-arrow-right-small"></span>
                            <span class="text-3">Contact Us</span>
                        </a>
                    </div>
                </div>
            </div>
        </div><!-- /.wrap -->

    </body>