﻿@{
    ViewData["Title"] = "OutdoorApplications";
}
    <body class="archive post-type-archive post-type-archive-outdoor-application">

        <div id="stickyTrigger"></div>
        <div class="wrap container-fluid" role="document">
            <div class="content row">
                <main class="main">

                    <section class="boxed-slider-hero">
                        <div class="text-container">
                            <div class="page-header">

                                <div class="breadcrumbs-container">
                                    <p id="breadcrumbs">
                                        <span xmlns:v="http://rdf.data-vocabulary.org/#">
                                            <span typeof="v:Breadcrumb">
                                                <a asp-area="" asp-controller="Home" asp-action="Index" rel="v:url" property="v:title">Home</a>
                                                / <span class="breadcrumb_last">Outdoor Applications</span>
                                            </span>
                                        </span>
                                    </p>
                                </div>

                                <div class="page-title-container">
                                    <h1>Outdoor Applications</h1>
                                </div>

                                <div class="page-subtitle">
                                    <p class="text-1">Find the ideal, long-lasting solution for outdoors, with no thickness or weight limits. Choose the material and shape you like</p>
                                </div>

                            </div>


                            <div class="show-more">
                                <a href="#more" class="hidden-xs hidden-sm">
                                    <span class="icon icon-arrow-down"></span>
                                    <span class="text-3">
                                        Find out more
                                    </span>
                                </a>
                            </div>
                        </div>

                        <div class="cover-holder" style="background-image: url('../wp-content/uploads/2017/07/outdoor.jpg')">
                            <div class="slider-overlay"></div>
                        </div>



                    </section>


                    <div class="container">
                        <div id="more" class="clearfix listing-items-row">
                            <div class="listing-item listing-item-big">
                                <a asp-area="" asp-controller="OutdoorApplications" asp-action="publicareas">
                                    <div class="image-holder" style="background-image: url('../wp-content/uploads/2017/06/appoutdoor_aree_pubbliche.jpg')">
                                    </div>
                                    <h5>Public Areas</h5>
                                </a>
                            </div>

                            <div class="listing-item listing-item-big">
                                <a asp-area="" asp-controller="OutdoorApplications" asp-action="outdoorliving">
                                    <div class="image-holder" style="background-image: url('../wp-content/uploads/2017/08/living-esterno.jpg')">
                                    </div>
                                    <h5>Outdoor Living</h5>
                                </a>
                            </div>

                            <div class="listing-item listing-item-big">
                                <a asp-area="" asp-controller="OutdoorApplications" asp-action="squares">
                                    <div class="image-holder" style="background-image: url('../wp-content/uploads/2017/06/appoutdoor_piazze.jpg')">
                                    </div>
                                    <h5>Squares</h5>
                                </a>
                            </div>

                            <div class="listing-item listing-item-big">
                                <a asp-area="" asp-controller="OutdoorApplications" asp-action="walkways">
                                    <div class="image-holder" style="background-image: url('../wp-content/uploads/2017/06/appoutdoor_camminamenti.jpg')">
                                    </div>
                                    <h5>Walkways</h5>
                                </a>
                            </div>

                            <div class="listing-item">
                                <a asp-area="" asp-controller="OutdoorApplications" asp-action="carparks">
                                    <div class="image-holder" style="background-image: url('../wp-content/uploads/2017/06/appoutdoor_parcheggi.jpg')">
                                    </div>
                                    <h5>Car Parks</h5>
                                </a>
                            </div>

                            <div class="listing-item">
                                <a asp-area="" asp-controller="OutdoorApplications" asp-action="swimmingpools">
                                    <div class="image-holder" style="background-image: url('../wp-content/uploads/2017/06/appoutdoor_piscine.jpg')">
                                    </div>
                                    <h5>Swimming Pools</h5>
                                </a>
                            </div>

                            <div class="listing-item listing-item-big">
                                <a asp-area="" asp-controller="OutdoorApplications" asp-action="ramps">
                                    <div class="image-holder" style="background-image: url('../wp-content/uploads/2017/06/appoutdoor_rampe.jpg')">
                                    </div>
                                    <h5>Ramps</h5>
                                </a>
                            </div>

                            <div class="listing-item listing-item-big">
                                <a asp-area="" asp-controller="OutdoorApplications" asp-action="amusementparks">
                                    <div class="image-holder" style="background-image: url('../wp-content/uploads/2017/06/appoutdoor_parchi_divertimento2.jpg')">
                                    </div>
                                    <h5>Amusement Parks</h5>
                                </a>
                            </div>

                            <div class="listing-item listing-item-big">
                                <a asp-area="" asp-controller="OutdoorApplications" asp-action="walls">
                                    <div class="image-holder" style="background-image: url('../wp-content/uploads/2017/05/appoutdoor_muro_stampato.jpg')">
                                    </div>
                                    <h5>Walls</h5>
                                </a>
                            </div>


                        </div>
                    </div>

                </main><!-- /.main -->
            </div><!-- /.content -->
            <div class="prefooter container">
                <div class="row">
                    <div class="cta-title-container col-md-6">
                        <h3>Contact Us</h3>
                    </div>

                    <div class="cta-container col-md-4">
                        <p class="text-1">
                            Do you have any other requests or curiosities?<br />
                            Do you want more information about products and services?<br />
                            You want to become an Ideal Work® partner<br />
                            or simply contact the company?
                        </p>
                        <a asp-area="" asp-controller="Company" asp-action="Contacts" class="cta">
                            <span class="icon icon-arrow-right-small"></span>
                            <span class="text-3">Contact Us</span>
                        </a>
                    </div>
                </div>
            </div>
        </div><!-- /.wrap -->
    </body>