﻿@{
    ViewData["Title"] = "Styles";
}
    <body class="archive post-type-archive post-type-archive-style">

        <div id="stickyTrigger"></div>
        <div class="wrap container-fluid" role="document">
            <div class="content row">
                <main class="main">

                    <section class="boxed-slider-hero">
                        <div class="text-container">
                            <div class="page-header">

                                <div class="breadcrumbs-container">
                                    <p id="breadcrumbs"><span xmlns:v="http://rdf.data-vocabulary.org/#">
                                    <span typeof="v:Breadcrumb">
                                        <a asp-area="" asp-controller="Home" asp-action="Index" rel="v:url" property="v:title">Home</a>
                                        / <span class="breadcrumb_last">Styles</span>
                                    </span></span></p>
                                </div>

                                <div class="page-title-container">
                                    <h1>Styles</h1>
                                </div>

                                <div class="page-subtitle">
                                </div>

                            </div>


                            <div class="show-more">
                                <a href="#more" class="hidden-xs hidden-sm">
                                    <span class="icon icon-arrow-down"></span>
                                    <span class="text-3">
                                        Find out more
                                    </span>
                                </a>
                            </div>
                        </div>

                        <div class="cover-holder" style="background-image: url('../wp-content/uploads/2017/07/stili.jpg')">
                            <div class="slider-overlay"></div>
                        </div>



                    </section>


                    <div class="container">
                        <div id="more" class="clearfix listing-items-row">
                            <div class="listing-item">
                                <a asp-area="" asp-controller="Styles" asp-action="industrial">
                                    <div class="image-holder" style="background-image: url('../wp-content/uploads/2017/05/industrial-listing.jpg')">
                                    </div>
                                    <h5>Industrial</h5>
                                </a>
                            </div>

                            <div class="listing-item">
                                <a asp-area="" asp-controller="Styles" asp-action="minimal">
                                    <div class="image-holder" style="background-image: url('../wp-content/uploads/2017/05/minimal-listing.jpg')">
                                    </div>
                                    <h5>Minimal</h5>
                                </a>
                            </div>

                            <div class="listing-item">
                                <a asp-area="" asp-controller="Styles" asp-action="eclectic">
                                    <div class="image-holder" style="background-image: url('../wp-content/uploads/2017/05/eclettico-listing.jpg')">
                                    </div>
                                    <h5>Eclectic</h5>
                                </a>
                            </div>

                            <div class="listing-item">
                                <a asp-area="" asp-controller="Styles" asp-action="colourful">
                                    <div class="image-holder" style="background-image: url('../wp-content/uploads/2017/05/colorful-listing.jpg')">
                                    </div>
                                    <h5>Colourful</h5>
                                </a>
                            </div>

                            <div class="listing-item">
                                <a asp-area="" asp-controller="Styles" asp-action="classicalcontemporary">
                                    <div class="image-holder" style="background-image: url('../wp-content/uploads/2017/05/classico-listing.jpg')">
                                    </div>
                                    <h5>Classical Contemporary</h5>
                                </a>
                            </div>


                        </div>
                    </div>

                </main><!-- /.main -->
            </div><!-- /.content -->

        </div><!-- /.wrap -->

    </body>