﻿@{
    ViewData["Title"] = "Typologies";
}
    <body class="archive post-type-archive post-type-archive-typology">
        <div id="stickyTrigger"></div>
        <div class="wrap container-fluid" role="document">
            <div class="content row">
                <main class="main">

                    <section class="boxed-slider-hero">
                        <div class="text-container">
                            <div class="page-header">

                                <div class="breadcrumbs-container">
                                    <p id="breadcrumbs"><span xmlns:v="http://rdf.data-vocabulary.org/#">
                                        <span typeof="v:Breadcrumb">
                                            <a asp-area="" asp-controller="Home" asp-action="Index" rel="v:url" property="v:title">Home</a> 
                                        / <span class="breadcrumb_last">Typologies</span></span></span></p>
                                </div>

                                <div class="page-title-container">
                                    <h1>Typologies</h1>
                                </div>

                                <div class="page-subtitle">
                                    <p class="text-1">Typical Applications</p>
                                </div>

                            </div>


                            <div class="show-more">
                                <a href="#more" class="hidden-xs hidden-sm">
                                    <span class="icon icon-arrow-down"></span>
                                    <span class="text-3">
                                        Find out more
                                    </span>
                                </a>
                            </div>
                        </div>

                        <div class="cover-holder" style="background-image: url('../wp-content/uploads/2017/07/tipologie.jpg')">
                            <div class="slider-overlay"></div>
                        </div>



                    </section>


                    <div class="container">
                        <div id="more" class="clearfix listing-items-row">
                            <div class="listing-item listing-item-big">
                                <a asp-area="" asp-controller="Typologies" asp-action="floors">
                                    <div class="image-holder" style="background-image: url('../wp-content/uploads/2017/05/tipo_pavimenti.jpg')">
                                    </div>
                                    <h5>Floors</h5>
                                </a>
</div>

                            <div class="listing-item">
                                <a asp-area="" asp-controller="Typologies" asp-action="coatings">
                                    <div class="image-holder" style="background-image: url('../wp-content/uploads/2017/05/tipo_rivestimenti.jpg')">
                                    </div>
                                    <h5>Coatings</h5>
                                </a>
</div>

                            <div class="listing-item">
                                <a asp-area="" asp-controller="Typologies" asp-action="flooringcoatings">
                                    <div class="image-holder" style="background-image: url('../wp-content/uploads/2017/05/tipo_pavimenti_e_rivestimenti.jpg')">
                                    </div>
                                    <h5>Flooring &#038; Coatings</h5>
                                </a>
                            </div>


                        </div>
                    </div>

                </main><!-- /.main -->
            </div><!-- /.content -->

            <div class="prefooter container">
                <div class="row">
                    <div class="cta-title-container col-md-6">
                        <h3>Contact Us</h3>
                    </div>

                    <div class="cta-container col-md-4">
                        <p class="text-1">
                            Do you have any other requests or curiosities?<br />
                            Do you want more information about products and services?<br />
                            You want to become an Ideal Work® partner<br />
                            or simply contact the company?
                        </p>
                        <a asp-area="" asp-controller="Company" asp-action="Contacts" class="cta">
                            <span class="icon icon-arrow-right-small"></span>
                            <span class="text-3">Contact Us</span>
                        </a>
                    </div>
                </div>
            </div>
        </div><!-- /.wrap -->
    </body>