﻿@{
    ViewData["Title"] = "Home Page";
}
    <body class="home page-template-default page page-id-2005">
        <div id="stickyTrigger"></div>
        <div class="wrap container-fluid" role="document">
            <div class="content row">
                <main class="main">

                    <section id="frontpage-hero" class="hero-full frontpage-hero">
                        <div class="slider-container">
                            <div class="slider-nav-container">
                                <div class="container-fluid slider-nav"></div>
                            </div>
                            <div id="frontpage-slider" class="owl-carousel">

                                <div class="slide">
                                    <div class="image-container"
                                         style="        background-image: url(Asset/Images/StampConcrete/S__36298777.jpg)">
                                    </div>
                                    <div class="caption-container">
                                        <div class="caption">
                                            <div class="hidden-xs hidden-sm caption-cta">
                                                @*<a asp-area="" asp-controller="Projects" asp-action="Pages" asp-route-page="laghiacciaia" class="cta-icon">
                                                    <span class="icon icon-arrow-right-small"></span>
                                                    <span>
                                                        Find out more
                                                    </span>
                                                </a>*@
                                            </div>
                                            <div class="caption-title">
                                                @*<a asp-area="" asp-controller="Projects" asp-action="Pages" asp-route-page="laghiacciaia"
                                                    class="slide-title">
                                                    La Ghiacciaia
                                                </a>
                                                <span class="hidden-xs hidden-sm slide-excerpt">The Restaurant in the Cave</span>*@
                                            </div>

                                            <div class="caption-links">

                                                <div class="hidden-xs hidden-sm link-item">
                                                    @*<a asp-area="" asp-controller="Typologies" asp-action="flooringcoatings"
                                                        class="link-anchor">
                                                        <span>Flooring &#038; Coatings</span>
                                                    </a>*@
                                                </div>

                                                <div class="hidden-md hidden-lg link-item">
                                                    @*<a asp-area="" asp-controller="Projects" asp-action="Pages" asp-route-page="laghiacciaia" class="link-anchor cta-icon">
                                                        <span class="icon icon-arrow-right-small"></span>
                                                        <span>
                                                            Find out more
                                                        </span>
                                                    </a>*@
                                                </div>

                                                <div class="link-item">
                                                    <span class="link-text">2020</span>
                                                    @*<span class="hidden-xs hidden-sm link-text">Visit the line</span>
                                                    <a asp-area="" asp-controller="ProductLines" asp-action="LixioPlus" class="link-anchor cta-icon">
                                                        <span class="thumb" style="background-image: url(wp-content/uploads/2019/10/lixioplus_25x25.jpg)"></span>
                                                        <span>Lixio®+</span>
                                                    </a>*@
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="slide">
                                    <div class="image-container"
                                         style="background-image: url(Asset/Images/StampConcrete/S__36298780.jpg)">
                                    </div>
                                    <div class="caption-container">
                                        <div class="caption">
                                            <div class="hidden-xs hidden-sm caption-cta">
                                                   @*<a asp-area="" asp-controller="Projects" asp-action="Pages" asp-route-page="privatevillaintreviso"
                                                   class="cta-icon">
                                                    <span class="icon icon-arrow-right-small"></span>
                                                    <span>
                                                        Find out more
                                                    </span>
                                                </a>*@
                                            </div>

                                            <div class="caption-title">
                                                @*<a asp-area="" asp-controller="Projects" asp-action="Pages" asp-route-page="privatevillaintreviso" class="slide-title">
                                                    Private villa in Treviso
                                                </a>
                                                <span class="hidden-xs hidden-sm slide-excerpt"></span>*@
                                            </div>

                                            <div class="caption-links">

                                                <div class="hidden-xs hidden-sm link-item">
                                                    @*<span class="link-text">2019</span>
                                                    <a asp-area="" asp-controller="IndoorApplications" asp-action="living" class="link-anchor">
                                                        <span>Living</span>
                                                    </a>*@
                                                </div>

                                                <div class="hidden-md hidden-lg link-item">
                                                    @*<a asp-area="" asp-controller="Projects" asp-action="Pages" asp-route-page="privatevillaintreviso" class="link-anchor cta-icon">
                                                        <span class="icon icon-arrow-right-small"></span>
                                                        <span>
                                                            Find out more
                                                        </span>
                                                    </a>*@
                                                </div>

                                                <div class="link-item">
                                                    <span class="link-text">2020</span>
                                                    @*<span class="hidden-xs hidden-sm link-text">Visit the line</span>
        <a asp-area="" asp-controller="ProductLines" asp-action="NuvolatoArchitop" class="link-anchor cta-icon">
            <span class="thumb" style="background-image: url(wp-content/uploads/2017/05/nuvolato25.jpg)"></span>
            <span>Nuvolato Architop®</span>
        </a>*@
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="slide">
                                    <div class="image-container"
                                         style="        background-image: url(Asset/Images/StampConcrete/S__36298778.jpg)">
                                    </div>
                                    <div class="caption-container">
                                        <div class="caption">
                                            <div class="hidden-xs hidden-sm caption-cta">
                                                @*<a asp-area="" asp-controller="Projects" asp-action="Pages" asp-route-page="contemporaryauditoriuminsideasixteenthcenturychurch"
                                                    class="cta-icon">
                                                    <span class="icon icon-arrow-right-small"></span>
                                                    <span>
                                                        Find out more
                                                    </span>
                                                </a>*@
                                            </div>

                                            <div class="caption-title">
                                                @*<a asp-area="" asp-controller="Projects" asp-action="Pages" asp-route-page="contemporaryauditoriuminsideasixteenthcenturychurch" class="slide-title">
                                                    Contemporary auditorium inside a sixteenth-century church
                                                </a>
                                                <span class="hidden-xs hidden-sm slide-excerpt">Outside, a XVI-century church. Inside, a contemporary and minimalist space.</span>*@
                                            </div>

                                            <div class="caption-links">

                                                <div class="hidden-xs hidden-sm link-item">
                                                    @*<span class="link-text">2019</span>
                                                    <a asp-area="" asp-controller="Typologies" asp-action="flooringcoatings" class="link-anchor">
                                                        <span>Flooring &#038; Coatings</span>
                                                    </a>*@
                                                </div>

                                                <div class="hidden-md hidden-lg link-item">
                                                    @*<a asp-area="" asp-controller="Projects" asp-action="Pages" asp-route-page="contemporaryauditoriuminsideasixteenthcenturychurch" class="link-anchor cta-icon">
                                                        <span class="icon icon-arrow-right-small"></span>
                                                        <span>
                                                            Find out more
                                                        </span>
                                                    </a>*@
                                                </div>

                                                <div class="link-item">
                                                    <span class="link-text">2020</span>
                                                    @*<span class="hidden-xs hidden-sm link-text">Visit the line</span>
        <a asp-area="" asp-controller="ProductLines" asp-action="Microtopping" class="link-anchor cta-icon">
            <span class="thumb" style="background-image: url(wp-content/uploads/2017/05/microtopping-25.jpg)"></span>
            <span>Microtopping®</span>
        </a>*@
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="slide">
                                    <div class="image-container"
                                         style="        background-image: url(Asset/Images/StampConcrete/S__36298790.jpg)">
                                    </div>
                                    <div class="caption-container">
                                    <div class="caption">
                                        <div class="hidden-xs hidden-sm caption-cta">
                                            @*<a asp-area="" asp-controller="Ownpage" asp-action="inspiringinnovationsarebreathingnewlifeintoanageoldflooringtechnique" class="cta-icon">
                                                <span class="icon icon-arrow-right-small"></span>
                                                <span>
                                                    Find out more
                                                </span>
                                            </a>*@
                                        </div>

                                        <div class="caption-title">
                                            @*<a asp-area="" asp-controller="Ownpage" asp-action="inspiringinnovationsarebreathingnewlifeintoanageoldflooringtechnique" class="slide-title">
                                                Inspiring innovations are breathing new life into an age-old flooring technique
                                            </a>
                                            <span class="hidden-xs hidden-sm slide-excerpt"></span>*@
                                        </div>

                                        <div class="caption-links">

                                            <div class="hidden-xs hidden-sm link-item">
                                                @*<span class="link-text">23.04.2020</span>
                                                <a asp-area="" asp-controller="Company" asp-action="IdealNews" class="link-anchor">
                                                    <span>Ideal News</span>
                                                </a>*@
                                            </div>

                                            <div class="hidden-md hidden-lg link-item">
                                                @*<a asp-area="" asp-controller="Ownpage" asp-action="inspiringinnovationsarebreathingnewlifeintoanageoldflooringtechnique" class="link-anchor cta-icon">
                                                    <span class="icon icon-arrow-right-small"></span>
                                                    <span>
                                                        Find out more
                                                    </span>
                                                </a>*@
                                            </div>

                                            <div class="link-item">
                                                <span class="link-text">23.04.2020</span>
                                                @*<span class="hidden-xs hidden-sm link-text">Visit the line</span>
        <a asp-area="" asp-controller="ProductLines" asp-action="Lixio" class="link-anchor cta-icon">
            <span class="thumb" style="background-image: url(wp-content/uploads/2017/05/lixio25.jpg)"></span>
            <span>Lixio®</span>
        </a>*@
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </div>

                            </div>

                        </div>
                    </section>

                    <section id="updates-grid" class="updates-grid-wrapper">
                        <div class="updates-grid">

                            <div class="grid-item grid-item-small item-layout-intro">
                                <div class="intro-content">
                                    <h2 class="item-intro-title">
                                        ลายหินธรรมชาติ สวยหรู คู่บ้านคุณ
                                    </h2>
                                    @*<p class="item-intro-text text-1">
                                        News, useful information, recent projects, training courses and much more.<br />
                                        Everything to be updated on the Ideal Work world.
                                    </p>*@
                                </div>
                            </div>
                            <div class="grid-item grid-item-large">

                                <a asp-area="" asp-controller="Projects" asp-action="Pages" asp-route-page="laghiacciaia"   
                                   class="item-content item-project">
                                    <div class="content-holder justify-between">
                                        <div class="item-chips">
                                            <span class="item-chip">Lixio®+</span>
                                        </div>
                                        <div class="item-info gradient-bottom">
                                            <div class="item-details">
                                                <span class="item-detail">2019</span>
                                                <span class="item-detail">Progetti</span>
                                            </div>
                                            <h3 class="item-title">La Ghiacciaia</h3>
                                            <span class="item-text hidden-xs">The Restaurant in the Cave</span>
                                        </div>
                                    </div>
                                    <div class="image-holder" style="background-image: url('wp-content/uploads/2020/04/2020_01_La-Ghiacciaia_LIXIO_SASSO_15_web.jpg')"></div>
                                </a>
                            </div>
                            <div class="grid-item grid-item-small">
                                <a asp-area="" asp-controller="Ownpage" asp-action="idealworkresidentialprojects" 
                                   class="item-content item-news">
                                    <div class="content-holder justify-end">
                                        <div class="item-info gradient-bottom">
                                            <div class="item-details">
                                                <span class="item-detail">2020</span>
                                            </div>
                                            <h3 class="item-title">
                                                Ideal Work for residential projects: an aesthetic, functional and ethical choice
                                            </h3>
                                        </div>
                                    </div>
                                    <div class="image-holder" style="background-image: url('wp-content/uploads/2017/05/IW-progetti-residenziali-750x750.jpg')"></div>
                                </a>
                            </div>
                            <div class="grid-item grid-item-small">
                                <a asp-area="" asp-controller="Ownpage" asp-action="inspiringinnovationsarebreathingnewlifeintoanageoldflooringtechnique" 
                                   class="item-content item-news">
                                    <div class="content-holder justify-end">
                                        <div class="item-info gradient-bottom">
                                            <div class="item-details">
                                                <span class="item-detail">2020</span>
                                            </div>
                                            <h3 class="item-title">
                                                Inspiring innovations are breathing new life into an age-old flooring technique
                                            </h3>
                                        </div>
                                    </div>
                                    <div class="image-holder" style="background-image: url('wp-content/uploads/2017/05/cover-homepage-articolo-terrazzo.jpg')"></div>
                                </a>
                            </div>
                            <div class="grid-item grid-item-small">
                                <a asp-area="" asp-controller="Company" asp-action="SocialWall" class="item-content item-page extra-padding-lg">
                                    <div class="content-holder justify-center">
                                        <div class="item-info text-center">
                                            <h3 class="item-title">Follow us on social networks to keep updated</h3>
                                            <span class="item-cta">
                                                <span class="item-cta-text">Go to the Social Wall</span>
                                                <span class="item-cta-icon icon icon-arrow-down-small"></span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="image-holder"></div>
                                </a>
                            </div>
                            <div class="grid-item grid-item-small">
                                <a asp-area="" asp-controller="ProductLines" asp-action="LixioPlus" class="item-content item-line">
                                    <div class="content-holder">
                                        <div class="item-info gradient-top">
                                            <span class="item-intro">Visit the line</span>
                                            <h3 class="item-title">Lixio®+</h3>
                                            <span class="item-text extra-margin">Terrazzo New Classic</span>
                                        </div>
                                    </div>
                                    <div class="image-holder" style="background-image: url('wp-content/uploads/2017/05/Lixio-plus_750x750.jpg')"></div>
                                </a>
                            </div>
                            <div class="grid-item grid-item-large">
                                
                                   <a asp-area="" asp-controller="Projects" asp-action="Pages" asp-route-page="jewelsstoreinantwerp"   
                                   class="item-content item-project">
                                    <div class="content-holder justify-between">
                                        <div class="item-chips">
                                        </div>
                                        <div class="item-info gradient-bottom">
                                            <div class="item-details">
                                                <span class="item-detail">2019</span>
                                                <span class="item-detail">Progetti</span>
                                            </div>
                                            <h3 class="item-title">Jewels store in Antwerp</h3>
                                        </div>
                                    </div>
                                    <div class="image-holder" style="background-image: url('wp-content/uploads/2017/05/Gioielleria_1550x750.jpg')"></div>
                                </a>
                            </div>
                            <div class="grid-item grid-item-small">
                                <a asp-area="" asp-controller="Ownpage" asp-action="FireandconcreteBurnoutbyFrancescoFeltrin" class="item-content item-news">
                                    <div class="content-holder justify-end">
                                        <div class="item-info gradient-bottom">
                                            <div class="item-details">
                                                <span class="item-detail">2019</span>
                                            </div>
                                            <h3 class="item-title">
                                                Fire and concrete: Burnout, by Francesco Feltrin
                                            </h3>
                                        </div>
                                    </div>
                                    <div class="image-holder" style="background-image: url('wp-content/uploads/2020/04/feltrin_01.jpg')"></div>
                                </a>
                            </div>
                            <div class="grid-item grid-item-small">
                                <a asp-area="" asp-controller="Company" asp-action="Contacts" class="item-content item-page extra-padding-lg">
                                    <div class="content-holder justify-center">
                                        <div class="item-info text-center">
                                            <h3 class="item-title">Discover a preview of all Ideal Work news</h3>
                                            <span class="item-cta">
                                                <span class="item-cta-text">Contact us</span>
                                                <span class="item-cta-icon icon icon-arrow-down-small"></span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="image-holder"></div>
                                </a>
                            </div>
                            <div class="grid-item grid-item-small">
                                <a asp-area="" asp-controller="ProductLines" asp-action="Microtopping" class="item-content item-line">
                                    <div class="content-holder">
                                        <div class="item-info gradient-top">
                                            <span class="item-intro">Visit the line</span>
                                            <h3 class="item-title">Microtopping®</h3>
                                            <span class="item-text extra-margin">For interiors and exteriors, no stopping your ideas. An innovative material that renews every surface with just 3 millimetres</span>
                                        </div>
                                    </div>
                                    <div class="image-holder" style="background-image: url('wp-content/uploads/2020/04/microtopping-FHD-1-1.jpg')"></div>
                                </a>
                            </div>

                        </div>
                    </section>

                    <section id="sliding-images" class="container">
                        <div class="row">
                            <div class="column left-column col-xs-12 col-md-6">

                                <div class="image-container" style="background-image: url('wp-content/uploads/2017/05/home-sliding-1.jpg');">
                                    <img src="~/wp-content/uploads/2017/05/home-sliding-1.jpg" alt="" class="img-responsive">
                                </div>

                                <div class="caption clearfix">
                                    <div class="caption-title-container col-xs-5 col-md-4">
                                        <h2 class="caption-title">Indoor</h2>
                                    </div>
                                    <div class="caption-text-container col-xs-12 col-md-8">
                                        <p class="caption-text text-1">Shape and create the environment you want from the many Ideal Work solutions. Choose your custom-made coating.</p>
                                        <div class="cta-container">

                                            <a asp-area="" asp-controller="Solutions" asp-action="IndoorApplications" target="_self" class="cta">
                                                <div class="cta-container">
                                                    <span class="icon icon-arrow-right-small"></span>
                                                    <span class="text-3">Choose your custom coating</span>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>

                                <span class="mobile-slider-nav mobile-slider-next icon icon-arrow-right"></span>

                            </div>
                            <div class="column right-column col-xs-12 col-md-6">

                                <div class="image-container" style="background-image: url('wp-content/uploads/2017/05/home-sliding-2.jpg');">
                                    <img src="~/wp-content/uploads/2017/05/home-sliding-2.jpg" alt="" class="img-responsive">
                                </div>

                                <div class="caption clearfix">
                                    <div class="caption-title-container col-xs-5 col-xs-offset-7 col-md-4 col-md-offset-0">
                                        <h2 class="caption-title">Outdoor</h2>
                                    </div>
                                    <div class="caption-text-container col-xs-12 col-md-8">
                                        <p class="caption-text text-1">Find the ideal, long-lasting solution for outdoors, with no thickness or weight limits. Choose the material and shape you like</p>
                                        <div class="cta-container">
                                            <a asp-area="" asp-controller="Solutions" asp-action="OutdoorApplications" target="_self" class="cta">
                                                <div class="cta-container">
                                                    <span class="icon icon-arrow-right-small"></span>
                                                    <span class="text-3">Choose the material and shape you prefer</span>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>

                                <span class="mobile-slider-nav mobile-slider-prev icon icon-arrow-left"></span>

                            </div>
                        </div>
                        <div data-role="sliding-images-bottom"></div>
                    </section>

                    <section id="content-section" class="container content-section-wrapper">
                        <div class="content-section">
                            <div class="content-section-column content-section-image-container">
                                <span class="content-section-title h2 hidden-md hidden-lg">Unrepeatable beauty</span>
                                <img class="img-responsive" src="~/wp-content/uploads/2020/04/spatolata_bn.jpg" alt="Unrepeatable beauty" />
                            </div>
                            <div class="content-section-column content-section-text-container">
                                <h2 class="content-section-title hidden-xs hidden-sm">Unrepeatable beauty</h2>
                                <div>
                                    <div class="page" title="Page 17">
                                        <div class="layoutArea">
                                            <div class="column">
                                                <p><strong><em>Our every surface, a unique work of art</em></strong></p>
                                                <p>Ideal Work® systems and solutions allow you to obtain a unique, attractive, valuable finish which can only be provided by true artisan craftsmen and quality materials.</p>
                                                <div class="page" title="Page 17">
                                                    <div class="layoutArea">
                                                        <div class="column">
                                                            <p>A surface offering that individual hand finish preferred by those who see no beauty in mass production. This individuality is in the very nature of the core material used, concrete, which provides that imperfect beauty.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <a asp-area="" asp-controller="Company" asp-action="UnrepeatableBeauty" target="_self" class="cta">
                                    <div class="cta-container">
                                        <span class="icon icon-arrow-right-small"></span>
                                        <span class="text-3">Discover more</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </section>

                    <section id="image-reveal">
                        <div class="container">
                            <div class="row reveal-row">

                                <div class="col-xs-12 visible-xs visible-sm">
                                    <span class="h2">Perfect for renovation and restoration</span>
                                </div>

                                <div class="image-container col-xs-12 col-md-8 col-md-push-4">
                                    <div class="before">
                                        <img src="~/wp-content/uploads/2017/05/reveal-old.jpg" alt="" class="img-responsive">
                                    </div>
                                    <div class="after">
                                        <img src="~/wp-content/uploads/2017/05/reveal-new.jpg" alt="" class="img-responsive">
                                    </div>
                                </div>

                                <div class="text-container col-xs-12 col-md-4 col-md-pull-8">
                                    <div class="before">

                                    </div>
                                    <div class="after">
                                        <h2 class="hidden-xs hidden-sm">Perfect for renovation and restoration</h2>
                                        <p class="text-1">
                                            deal Work systems allow flexible and innovative solutions to be used with minimal disruption. Whether minimal thickness or maximum depth is available, Ideal Work has the solution. Our systems can be used internally or externally on both new and existing buildings<br />
                                            Walls<br />
                                            Floors<br />
                                            Design features<br />
                                            Kitchens<br />
                                            Bathroom
                                        </p>
                                    </div>

                                    <a asp-area="" asp-controller="Renovations" asp-action="IndoorRenovation" target="_self" class="cta">
                                        <div class="cta-container">
                                            <span class="icon icon-arrow-right-small"></span>
                                            <span class="text-3">Go to renovations</span>
                                        </div>
                                    </a>

                                </div>

                            </div>
                        </div>
                    </section>

                </main><!-- /.main -->
            </div><!-- /.content -->
        </div><!-- /.wrap -->
    </body>