﻿@{
    ViewData["Title"] = "Typologies - coatings";
}
    <body class="typology-template-default single single-typology postid-1460 coatings">

        <div id="stickyTrigger"></div>
        <div class="wrap container-fluid" role="document">
            <div class="content row">
                <main class="main">
                    <section class="boxed-slider-hero">
                        <div class="text-container">
                            <div class="page-header" style="margin-bottom: 100px;">

                                <div class="breadcrumbs-container">
                                    <p id="breadcrumbs"><span xmlns:v="http://rdf.data-vocabulary.org/#">
                                    <span typeof="v:Breadcrumb">
                                        <a asp-area="" asp-controller="Home" asp-action="Index" rel="v:url" property="v:title">Home</a>
                                        / <span rel="v:child" typeof="v:Breadcrumb">
                                        <a asp-area="" asp-controller="Solutions" asp-action="Typologies" rel="v:url" property="v:title">Typologies</a>
                                        / <span class="breadcrumb_last">Coatings</span>
                                        </span>
                                    </span></span></p>
                                </div>

                                <div class="page-title-container">
                                    <h1>Coatings</h1>

                                </div>

                                <div class="page-subtitle">
                                    <p class="text-1">
                                        Indoor and outdoor surface coatings, extremely customizable in colours and effects, able to give your surfaces a unique look. Renovating floors and walls with microcement, textured concrete and other solutions has never been this easy.<br />
                                    </p>
                                </div>

                            </div>

                            <div class="gallery-toggle" style="margin-top: 100px;">
                                <a href="#" data-toggle="modal" data-target="#sliderModal">
                                    <span class="link-label text-3">View<br>gallery</span>
                                </a>
                            </div>

                            <div class="show-more">
                                <a href="#more" class="hidden-xs hidden-sm">
                                    <span class="icon icon-arrow-down"></span>
                                    <span class="text-3">
                                        Find out more
                                    </span>
                                </a>
                            </div>
                        </div>

                        <div class="cover-holder" style="background-image: url('../../wp-content/uploads/2017/05/2016_02_Anna_belgio-showroom-2.jpg')">
                            <div class="slider-overlay"></div>
                        </div>



                    </section>

                    <div id="sliderModal" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-load-overlay"></div>
                            <button type="button" class="close" data-dismiss="modal">
                                <span></span>
                                <span></span>
                            </button>
                            <div class="header">
                                <div class="title-container hidden-xs hidden-sm">
                                    <p class="text-3">Coatings</p>
                                </div>
                                <div class="slider-pager">
                                    <span class="text-3"></span>
                                </div>
                            </div>

                            <div class="body">
                                <div id="boxed-slider">

                                    <div class="slide">

                                        <div class="image-container">
                                            <img data-lazy="https://www.idealwork.com/wp-content/uploads/2017/05/2010_10_Casa_MatteoCasa_Volpago8-1.jpg" alt="Rivestimento della parete con muro stampato" class="img-responsive">
                                        </div>

                                        <div class="caption-container">
                                            <div class="caption-item work-text">
                                            </div>

                                            <div class="caption-item line-text">
                                                <div class="caption-link">
                                                </div>
                                            </div>

                                        </div>

                                    </div>

                                    <div class="slide">

                                        <div class="image-container">
                                            <img data-lazy="https://www.idealwork.com/wp-content/uploads/2017/05/2012_10_Villa_Monfumo-Appartmento-Consolo-Casteo-3.jpg" alt="" class="img-responsive">
                                        </div>

                                        <div class="caption-container">
                                            <div class="caption-item work-text">
                                                <div class="caption-link">
                                                    <a href="../../index3761.html?post_type=work&amp;p=1078" class="text-3">
                                                        <span class="icon icon-arrow-right-small"></span>
                                                        <span>
                                                            Discover the complete gallery of the project
                                                        </span>
                                                    </a>
                                                </div>
                                            </div>

                                            <div class="caption-item line-text">
                                                <div class="caption-link">
                                                </div>
                                            </div>

                                        </div>

                                    </div>

                                    <div class="slide">

                                        <div class="image-container">
                                            <img data-lazy="https://www.idealwork.com/wp-content/uploads/2017/05/2013_05_Designer_Marcon8-2.jpg" alt="" class="img-responsive">
                                        </div>

                                        <div class="caption-container">
                                            <div class="caption-item work-text">
                                            </div>

                                            <div class="caption-item line-text">
                                                <div class="caption-link">
                                                </div>
                                            </div>

                                        </div>

                                    </div>

                                    <div class="slide">

                                        <div class="image-container">
                                            <img data-lazy="https://www.idealwork.com/wp-content/uploads/2017/05/2013_05_Ristorante_Autostazione-3.jpg" alt="" class="img-responsive">
                                        </div>

                                        <div class="caption-container">
                                            <div class="caption-item work-text">
                                            </div>

                                            <div class="caption-item line-text">
                                                <div class="caption-link">
                                                </div>
                                            </div>

                                        </div>

                                    </div>

                                    <div class="slide">

                                        <div class="image-container">
                                            <img data-lazy="https://www.idealwork.com/wp-content/uploads/2017/05/2014_08_Casa_Fontaniva10-3.jpg" alt="" class="img-responsive">
                                        </div>

                                        <div class="caption-container">
                                            <div class="caption-item work-text">
                                            </div>

                                            <div class="caption-item line-text">
                                                <div class="caption-link">
                                                </div>
                                            </div>

                                        </div>

                                    </div>

                                    <div class="slide">

                                        <div class="image-container">
                                            <img data-lazy="https://www.idealwork.com/wp-content/uploads/2017/05/2015_03_Abitazione_privata_scala_panca4-2.jpg" alt="" class="img-responsive">
                                        </div>

                                        <div class="caption-container">
                                            <div class="caption-item work-text">
                                            </div>

                                            <div class="caption-item line-text">
                                                <div class="caption-link">
                                                </div>
                                            </div>

                                        </div>

                                    </div>

                                    <div class="slide">

                                        <div class="image-container">
                                            <img data-lazy="https://www.idealwork.com/wp-content/uploads/2017/05/2015_03_Abitazione_privata_scala_panca11-1.jpg" alt="" class="img-responsive">
                                        </div>

                                        <div class="caption-container">
                                            <div class="caption-item work-text">
                                            </div>

                                            <div class="caption-item line-text">
                                                <div class="caption-link">
                                                </div>
                                            </div>

                                        </div>

                                    </div>

                                    <div class="slide">

                                        <div class="image-container">
                                            <img data-lazy="https://www.idealwork.com/wp-content/uploads/2017/05/2015_03_Casa_Piazzola4-3.jpg" alt="" class="img-responsive">
                                        </div>

                                        <div class="caption-container">
                                            <div class="caption-item work-text">
                                            </div>

                                            <div class="caption-item line-text">
                                                <div class="caption-link">
                                                </div>
                                            </div>

                                        </div>

                                    </div>

                                    <div class="slide">

                                        <div class="image-container">
                                            <img data-lazy="https://www.idealwork.com/wp-content/uploads/2017/05/2015_05_Elementy-AZIENDA2-1.jpg" alt="" class="img-responsive">
                                        </div>

                                        <div class="caption-container">
                                            <div class="caption-item work-text">
                                            </div>

                                            <div class="caption-item line-text">
                                                <div class="caption-link">
                                                </div>
                                            </div>

                                        </div>

                                    </div>

                                    <div class="slide">

                                        <div class="image-container">
                                            <img data-lazy="https://www.idealwork.com/wp-content/uploads/2017/05/2015_11_Rossano_Paola_Aceti2casa7-2.jpg" alt="" class="img-responsive">
                                        </div>

                                        <div class="caption-container">
                                            <div class="caption-item work-text">
                                            </div>

                                            <div class="caption-item line-text">
                                                <div class="caption-link">
                                                </div>
                                            </div>

                                        </div>

                                    </div>

                                    <div class="slide">

                                        <div class="image-container">
                                            <img data-lazy="https://www.idealwork.com/wp-content/uploads/2017/05/2015_11_Rossano_Paola_Aceti2casa9-2.jpg" alt="ristrutturazione di un bagno con microtopping" class="img-responsive">
                                        </div>

                                        <div class="caption-container">
                                            <div class="caption-item work-text">
                                            </div>

                                            <div class="caption-item line-text">
                                                <div class="caption-link">
                                                </div>
                                            </div>

                                        </div>

                                    </div>

                                    <div class="slide">

                                        <div class="image-container">
                                            <img data-lazy="https://www.idealwork.com/wp-content/uploads/2017/05/2016_02_Anna_belgio-showroom-2.jpg" alt="" class="img-responsive">
                                        </div>

                                        <div class="caption-container">
                                            <div class="caption-item work-text">
                                            </div>

                                            <div class="caption-item line-text">
                                                <div class="caption-link">
                                                </div>
                                            </div>

                                        </div>

                                    </div>

                                    <div class="slide">

                                        <div class="image-container">
                                            <img data-lazy="https://www.idealwork.com/wp-content/uploads/2017/05/2016_02_Anna_belgio-showroom8-1.jpg" alt="" class="img-responsive">
                                        </div>

                                        <div class="caption-container">
                                            <div class="caption-item work-text">
                                            </div>

                                            <div class="caption-item line-text">
                                                <div class="caption-link">
                                                </div>
                                            </div>

                                        </div>

                                    </div>

                                    <div class="slide">

                                        <div class="image-container">
                                            <img data-lazy="https://www.idealwork.com/wp-content/uploads/2017/05/2017_08_Meggetto_ARCHITOP_MT26.jpg" alt="" class="img-responsive">
                                        </div>

                                        <div class="caption-container">
                                            <div class="caption-item work-text">
                                            </div>

                                            <div class="caption-item line-text">
                                                <div class="caption-link">
                                                </div>
                                            </div>

                                        </div>

                                    </div>

                                    <div class="slide">

                                        <div class="image-container">
                                            <img data-lazy="https://www.idealwork.com/wp-content/uploads/2017/05/2014_08_Casa_Fontaniva12-3.jpg" alt="" class="img-responsive">
                                        </div>

                                        <div class="caption-container">
                                            <div class="caption-item work-text">
                                            </div>

                                            <div class="caption-item line-text">
                                                <div class="caption-link">
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="footer">
                                <div id="sliderThumbs">
                                    <div class="thumb">
                                        <img data-lazy="../../wp-content/uploads/2017/05/2010_10_Casa_MatteoCasa_Volpago8-1-150x150.jpg">
                                    </div>
                                    <div class="thumb">
                                        <img data-lazy="../../wp-content/uploads/2017/05/2012_10_Villa_Monfumo-Appartmento-Consolo-Casteo-3-150x150.jpg">
                                    </div>
                                    <div class="thumb">
                                        <img data-lazy="../../wp-content/uploads/2017/05/2013_05_Designer_Marcon8-2-150x150.jpg">
                                    </div>
                                    <div class="thumb">
                                        <img data-lazy="../../wp-content/uploads/2017/05/2013_05_Ristorante_Autostazione-3-150x150.jpg">
                                    </div>
                                    <div class="thumb">
                                        <img data-lazy="../../wp-content/uploads/2017/05/2014_08_Casa_Fontaniva10-3-150x150.jpg">
                                    </div>
                                    <div class="thumb">
                                        <img data-lazy="../../wp-content/uploads/2017/05/2015_03_Abitazione_privata_scala_panca4-2-150x150.jpg">
                                    </div>
                                    <div class="thumb">
                                        <img data-lazy="../../wp-content/uploads/2017/05/2015_03_Abitazione_privata_scala_panca11-1-150x150.jpg">
                                    </div>
                                    <div class="thumb">
                                        <img data-lazy="../../wp-content/uploads/2017/05/2015_03_Casa_Piazzola4-3-150x150.jpg">
                                    </div>
                                    <div class="thumb">
                                        <img data-lazy="../../wp-content/uploads/2017/05/2015_05_Elementy-AZIENDA2-1-150x150.jpg">
                                    </div>
                                    <div class="thumb">
                                        <img data-lazy="../../wp-content/uploads/2017/05/2015_11_Rossano_Paola_Aceti2casa7-2-150x150.jpg">
                                    </div>
                                    <div class="thumb">
                                        <img data-lazy="../../wp-content/uploads/2017/05/2015_11_Rossano_Paola_Aceti2casa9-2-150x150.jpg">
                                    </div>
                                    <div class="thumb">
                                        <img data-lazy="../../wp-content/uploads/2017/05/2016_02_Anna_belgio-showroom-2-150x150.jpg">
                                    </div>
                                    <div class="thumb">
                                        <img data-lazy="../../wp-content/uploads/2017/05/2016_02_Anna_belgio-showroom8-1-150x150.jpg">
                                    </div>
                                    <div class="thumb">
                                        <img data-lazy="../../wp-content/uploads/2017/05/2017_08_Meggetto_ARCHITOP_MT26-150x150.jpg">
                                    </div>
                                    <div class="thumb">
                                        <img data-lazy="../../wp-content/uploads/2017/05/2014_08_Casa_Fontaniva12-3-150x150.jpg">
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>


                    <section id="more">
                    </section>



                    <div class="container">

                        <div class="title-container col-xs-12 col-md-8">
                            <h3>The coatings solutions you want</h3>

                        </div>
                        <div class="filter-container current-filter-container col-xs-12 col-md-4">
                            <p class="text-3 filter-subtitle">Looking for another Typology?</p>
                            <div class="filter-single no-padding col-xs-12">
                                <div class="filter-title col-xs-6">
                                    <h5>Typologies</h5>
                                </div>
                                <div class="filter-option-selected col-xs-6">
                                    <span class="text-3">Coatings</span>
                                    <span class="icon icon-caret-down"></span>
                                </div>
                                <ul class="filter-options col-xs-6 col-xs-offset-6">
                                    <li class="filter-option">
                                        <a asp-area="" asp-controller="Typologies" asp-action="floors" class="text-3">Floors</a>
                                    </li>
                                    <li class="filter-option">
                                        <a href="#" class="text-3">Coatings</a>
                                    </li>
                                    <li class="filter-option">
                                        <a asp-area="" asp-controller="Typologies" asp-action="flooringcoatings" class="text-3">Flooring & Coatings</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="filter-container col-xs-12">

                            <p class="text-3 filter-subtitle">Use filters to refine your search</p>

                            <div class="filter-single no-padding col-xs-12 col-md-4" data-filter-group=".indoor-application">
                                <div class="filter-title col-xs-6">
                                    <h5>Indoor Applications</h5>
                                </div>
                                <div class="filter-option-selected col-xs-6">
                                    <span class="text-3">Select</span>
                                    <span class="icon icon-caret-down"></span>
                                </div>
                                <ul class="filter-options col-xs-6 col-xs-offset-6">
                                    <li class="filter-option" data-filter="">
                                        <span class="text-3">All</span>
                                    </li>
                                    <li class="filter-option" data-filter=".living">
                                        <span class="text-3">Living</span>
                                    </li>
                                    <li class="filter-option" data-filter=".bathroom">
                                        <span class="text-3">Bathroom</span>
                                    </li>
                                    <li class="filter-option" data-filter=".bedrooms">
                                        <span class="text-3">Bedrooms</span>
                                    </li>
                                    <li class="filter-option" data-filter=".kitchen">
                                        <span class="text-3">Kitchen</span>
                                    </li>
                                    <li class="filter-option" data-filter=".restaurant">
                                        <span class="text-3">Restaurant</span>
                                    </li>
                                    <li class="filter-option" data-filter=".walls">
                                        <span class="text-3">Walls</span>
                                    </li>
                                    <li class="filter-option" data-filter=".staircases">
                                        <span class="text-3">Staircases</span>
                                    </li>
                                    <li class="filter-option" data-filter=".furniture">
                                        <span class="text-3">Furniture</span>
                                    </li>
                                    <li class="filter-option" data-filter=".museums">
                                        <span class="text-3">Museums</span>
                                    </li>
                                    <li class="filter-option" data-filter=".offices">
                                        <span class="text-3">Offices</span>
                                    </li>
                                    <li class="filter-option" data-filter=".retail">
                                        <span class="text-3">Retail</span>
                                    </li>
                                    <li class="filter-option" data-filter=".public-places">
                                        <span class="text-3">Public Places</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="filter-single no-padding col-xs-12 col-md-4" data-filter-group=".outdoor-application">
                                <div class="filter-title col-xs-6">
                                    <h5>Outdoor Applications</h5>
                                </div>
                                <div class="filter-option-selected col-xs-6">
                                    <span class="text-3">Select</span>
                                    <span class="icon icon-caret-down"></span>
                                </div>
                                <ul class="filter-options col-xs-6 col-xs-offset-6">
                                    <li class="filter-option" data-filter="">
                                        <span class="text-3">All</span>
                                    </li>
                                    <li class="filter-option" data-filter=".public-areas">
                                        <span class="text-3">Public Areas</span>
                                    </li>
                                    <li class="filter-option" data-filter=".outdoor-living">
                                        <span class="text-3">Outdoor Living</span>
                                    </li>
                                    <li class="filter-option" data-filter=".squares">
                                        <span class="text-3">Squares</span>
                                    </li>
                                    <li class="filter-option" data-filter=".walkways">
                                        <span class="text-3">Walkways</span>
                                    </li>
                                    <li class="filter-option" data-filter=".car-parks">
                                        <span class="text-3">Car Parks</span>
                                    </li>
                                    <li class="filter-option" data-filter=".swimming-pools">
                                        <span class="text-3">Swimming Pools</span>
                                    </li>
                                    <li class="filter-option" data-filter=".ramps">
                                        <span class="text-3">Ramps</span>
                                    </li>
                                    <li class="filter-option" data-filter=".amusement-parks">
                                        <span class="text-3">Amusement Parks</span>
                                    </li>
                                    <li class="filter-option" data-filter=".walls">
                                        <span class="text-3">Walls</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="filter-single no-padding col-xs-12 col-md-4" data-filter-group=".style">
                                <div class="filter-title col-xs-6">
                                    <h5>Styles</h5>
                                </div>
                                <div class="filter-option-selected col-xs-6">
                                    <span class="text-3">Select</span>
                                    <span class="icon icon-caret-down"></span>
                                </div>
                                <ul class="filter-options col-xs-6 col-xs-offset-6">
                                    <li class="filter-option" data-filter="">
                                        <span class="text-3">All</span>
                                    </li>
                                    <li class="filter-option" data-filter=".industrial">
                                        <span class="text-3">Industrial</span>
                                    </li>
                                    <li class="filter-option" data-filter=".minimal">
                                        <span class="text-3">Minimal</span>
                                    </li>
                                    <li class="filter-option" data-filter=".eclectic">
                                        <span class="text-3">Eclectic</span>
                                    </li>
                                    <li class="filter-option" data-filter=".colourful">
                                        <span class="text-3">Colourful</span>
                                    </li>
                                    <li class="filter-option" data-filter=".classical-contemporary">
                                        <span class="text-3">Classical Contemporary</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="container">
                        <div class="product-line-list">











                            <div class="product-line-list-item typology coatings indoor-application living bedrooms kitchen walls museums retail public-places style eclectic restaurant">
                                <a asp-area="" asp-controller="ProductLines" asp-action="MicrotoppingWallTexture" class="listing-item">
                                    <div class="listing-item-title">
                                        <h5>Microtopping Wall Texture</h5>
                                    </div>
                                    <div class="listing-item-image" style="background-image: url(' ../../wp-content/uploads/2017/08/wall-texture_listing.jpg')">
                                    </div>
                                </a>
                            </div>




















                            <div class="product-line-list-item typology flooring-coatings style minimal indoor-application furniture bathroom floors coatings kitchen living staircases walls restaurant public-places retail museums offices eclectic bedrooms outdoor-application outdoor-living colourful">
                                <a asp-area="" asp-controller="ProductLines" asp-action="Microtopping" class="listing-item">
                                    <div class="listing-item-title">
                                        <h5>Microtopping®</h5>
                                    </div>
                                    <div class="listing-item-image" style="background-image: url(' ../../wp-content/uploads/2017/05/microtopping-FHD-1.jpg')">
                                    </div>
                                </a>
                            </div>



















                            <div class="product-line-list-item typology floors style industrial indoor-application bathroom kitchen living staircases public-places museums retail offices eclectic bedrooms flooring-coatings restaurant walls coatings furniture colourful">
                                <a asp-area="" asp-controller="ProductLines" asp-action="AcidStainedFloor" class="listing-item">
                                    <div class="listing-item-title">
                                        <h5>Acid Stained floor</h5>
                                    </div>
                                    <div class="listing-item-image" style="background-image: url(' ../../wp-content/uploads/2017/05/acidificato_listing.jpg')">
                                    </div>
                                </a>
                            </div>
















                            <div class="product-line-list-item indoor-application walls outdoor-application walls typology coatings kitchen living public-places museums retail offices amusement-parks public-areas bedrooms outdoor-living restaurant style eclectic">
                                <a asp-area="" asp-controller="ProductLines" asp-action="IdealWall" class="listing-item">
                                    <div class="listing-item-title">
                                        <h5>Ideal Wall</h5>
                                    </div>
                                    <div class="listing-item-image" style="background-image: url(' ../../wp-content/uploads/2017/06/muro-stampato_Listing.jpg')">
                                    </div>
                                </a>
                            </div>












                            <div class="product-line-list-item typology coatings indoor-application walls public-places museums retail offices outdoor-application amusement-parks public-areas swimming-pools walls outdoor-living">
                                <a asp-area="" asp-controller="ProductLines" asp-action="IdealTix" class="listing-item">
                                    <div class="listing-item-title">
                                        <h5>Ideal Tix</h5>
                                    </div>
                                    <div class="listing-item-image" style="background-image: url(' ../../wp-content/uploads/2017/05/rocce_listing.jpg')">
                                    </div>
                                </a>
                            </div>

                        </div>
                    </div>

                </main><!-- /.main -->
            </div><!-- /.content -->

            <div class="prefooter container">
                <div class="row">
                    <div class="cta-title-container col-md-6">
                        <h3>Contact Us</h3>
                    </div>

                    <div class="cta-container col-md-4">
                        <p class="text-1">
                            Do you have any other requests or curiosities?<br />
                            Do you want more information about products and services?<br />
                            You want to become an Ideal Work® partner<br />
                            or simply contact the company?
                        </p>
                        <a asp-area="" asp-controller="Company" asp-action="Contacts" class="cta">
                            <span class="icon icon-arrow-right-small"></span>
                            <span class="text-3">Contact Us</span>
                        </a>
                    </div>
                </div>
            </div>
        </div><!-- /.wrap -->

    </body>