﻿@{
    ViewData["Title"] = "IndoorRenovation";
}
    <body class="page-template page-template-template-renovations page-template-template-renovations-php page page-id-5393 indoor-renovation">

        <div id="stickyTrigger"></div>
        <div class="wrap container-fluid" role="document">
            <div class="content row">
                <main class="main">

                    <div class="page-header-line">
                        <div class="image-container" style="background-image: url('../wp-content/uploads/2017/06/case_cafe_new_one_pavimenti.jpg')">

                            <div class="breadcrumbs-container">
                                <p id="breadcrumbs"><span xmlns:v="http://rdf.data-vocabulary.org/#">
                                    <span typeof="v:Breadcrumb">
                                        <a asp-area="" asp-controller="Home" asp-action="Index" rel="v:url" property="v:title">Home</a>
                                        / <span class="breadcrumb_last">Indoor Renovation</span>
                                    </span></span></p>
                            </div>

                            <div class="page-title-container">
                                <h1>Indoor Renovation</h1>
                            </div>

                            <div class="page-subtitle-container text-center">
                                <span class="text-1">
                                    Ideal solutions for internal renovations. Shape and create the environment you desire; choose amongst a wide selection of colours and effects to obtain a custom-made floor or coat. Our solutions are extremely customizable according to your needs. Renovate in a unique way your kitchen, bathroom, shop, stairs and much more!<br />
                                </span>
                            </div>
                        </div>
                    </div>



                    <div id="tabs-container" class="tabs-container container-fluid hidden-xs hidden-sm">
                        <div class="row">
                            <ul class="nav container">
                                <li class="tab text-center active col-md-2">
                                    <a class="h4" href="#intro">INDOOR</a>
                                </li>
                                <li class="tab text-center col-md-2">
                                    <a class="h4"
                                       href="#benefits">BENEFITS</a>
                                </li>
                                <li class="tab text-center col-md-2">
                                    <a class="h4"
                                       href="#how">HOW</a>
                                </li>
                                <li class="tab text-center col-md-2">
                                    <a class="h4" href="#products">COMPARE PRODUCTS</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <section id="intro" class="container">
                        <div class="row">

                            <div class="intro-text-container">
                                <div class="intro-text col-xs-12 col-md-6">
                                    <p>Ideal Work renovation solutions can be applied quickly without altering floor profiles, with minimal disruption and in a clean and tidy manner</p>
                                </div>

                            </div>
                        </div>
                    </section>


                    <section id="benefits"
                             class="container container-flexible">

                        <div class="title-container col-xs-12">
                            <h3>BENEFITS</h3>
                        </div>

                        <div class="row row-flexible">



                            <div class="col-md-6 col-md-push-6 text-left column-image">

                                <img src="../wp-content/uploads/2017/07/DSC_4673.jpg" class="img-responsive" alt="">
                            </div>


                            <div class="col-md-6 col-md-pull-6 col-lg-pull-6 text-left column-text">

                                <h3>Quick interventions without demolition</h3>
                                <p>Thanks to the Ideal Work solutions, it is possible to obtain a new precious cementitious surface, in a fast, clean way, without the hassles, noises and costs of a demolition. The intervention takes place in reduced time, without creating too much dirt and dust. The floors are particularly suitable for floor heating: Thanks to the reduced thickness, they even improve the thermal performance.</p>


                            </div>

                        </div>


                        <div class="row row-flexible">



                            <div class="col-md-6  text-left column-image">

                                <img src="../wp-content/uploads/2017/06/micase15_B1.jpg" class="img-responsive" alt="">
                            </div>


                            <div class="col-md-6  text-left column-text">

                                <h3>No change in floor profile required</h3>
                                <p>Choosing Ideal Work solutions to renew surfaces save time and money. By using a minimal thickness of material there is no need to alter doors, doors frames and skirtings.</p>


                            </div>

                        </div>


                        <div class="row row-flexible">



                            <div class="col-md-6 col-md-push-6 text-left column-image">

                                <img src="../wp-content/uploads/2017/05/6.jpg" class="img-responsive" alt="">
                            </div>


                            <div class="col-md-6 col-md-pull-6 col-lg-pull-6 text-left column-text">

                                <h3>With respect to the environment</h3>
                                <p>Utilizing existing floors also helps protect the environment. No waste material is generated during the process. So, for those preferring cement based surfaces, Ideal Work is the smart and eco-friendly option.</p>


                            </div>

                        </div>

                    </section>

                    <section id="how"
                             class="container container-flexible">

                        <div class="title-container col-xs-12">
                            <h3>HOW</h3>
                        </div>

                        <div class="row row-flexible">



                            <div class="col-md-6  text-left column-image">

                                <img src="../wp-content/uploads/2017/07/DSC_4633.jpg" class="img-responsive" alt="">
                            </div>


                            <div class="col-md-6  text-left column-text">

                                <h3>In Just 4 steps</h3>
                                <p><span style="letter-spacing: 0.04em;">Renovating floors with Ideal Work systems is simple, effective and carried out by trained, approved, artisan tradesman in 4 steps.</span></p>
                                <p><strong style="letter-spacing: 0.04em;">CLEANING</strong><span style="letter-spacing: 0.04em;"> of the existing floor or screed</span></p>
                                <p><strong>FINISHING</strong> the previously cleaned surface to make it level</p>
                                <p><strong>APPLICATION</strong> of the Ideal Work chosen product</p>
                                <p><strong>PROTECTION</strong> of the finished surface with the appropriate sealer</p>


                            </div>

                        </div>

                    </section>





                    <section id="products" class="container container-flexible">

                        <div class="title-container col-xs-12">
                            <h3>COMPARE PRODUCTS</h3>
                        </div>

                        <div class="product-list">

                            <div class="container-fluid hidden-xs hidden-sm hidden-md">
                                <div class="listing-item-heading">
                                    <div class="single-item-heading col-lg-3"><h5>Products</h5></div>
                                    <div class="single-item-heading col-lg-3"><h5>Thickness</h5></div>
                                    <div class="single-item-heading col-lg-3"><h5>Support</h5></div>
                                    <div class="single-item-heading col-lg-3"><h5>Orientation</h5></div>
                                </div>
                            </div>

                            <div class="product-item">
                                <a asp-area="" asp-controller="ProductLines" asp-action="Lixio"
                                   class="listing-item">

                                    <div class="listing-item-title hidden-lg">
                                        <h5>Lixio®</h5>
                                    </div>

                                    <div class="listing-item-image-title">
                                        <div class="listing-item-image" style="background-image: url(' ../wp-content/uploads/2017/05/lixio_listing.jpg')"></div>
                                        <h5 class="listing-item-title-dp hidden-xs hidden-sm hidden-md">Lixio®</h5>
                                    </div>
                                    <div class="listing-item-detail">

                                        <p class="detail-text">
                                            <span class="text-3 hidden-lg">Thickness</span>
                                            <span class="text-2 pull-right">5-6 mm</span>
                                        </p>

                                        <p class="detail-text">
                                            <span class="text-3 hidden-lg">Support</span>
                                            <span class="text-2 pull-right">concrete, sand and cement, ceramic, natural stone</span>
                                        </p>

                                        <p class="detail-text">
                                            <span class="text-3 hidden-lg">Thickness</span>
                                            <span class="text-2 pull-right">Floors</span>
                                        </p>
                                    </div>
                                </a>
                            </div>
                            <div class="product-item">
                                <a href="#"
                                   class="listing-item">

                                    <div class="listing-item-title hidden-lg">
                                        <h5>Indoor Renovation</h5>
                                    </div>

                                    <div class="listing-item-image-title">
                                        <div class="listing-item-image"></div>
                                        <h5 class="listing-item-title-dp hidden-xs hidden-sm hidden-md">Indoor Renovation</h5>
                                    </div>
                                    <div class="listing-item-detail">

                                        <p class="detail-text">
                                            <span class="text-3 hidden-lg">Thickness</span>
                                            <span class="text-2 pull-right">3 mm</span>
                                        </p>

                                        <p class="detail-text">
                                            <span class="text-3 hidden-lg">Support</span>
                                            <span class="text-2 pull-right">Concrete sand screed, ceramic, natural stone, wood and any other surface</span>
                                        </p>

                                        <p class="detail-text">
                                            <span class="text-3 hidden-lg">Thickness</span>
                                            <span class="text-2 pull-right">floors, walls, stairs and furniture</span>
                                        </p>
                                    </div>
                                </a>
                            </div>
                            <div class="product-item">
                                <a asp-area="" asp-controller="ProductLines" asp-action="NuvolatoArchitop"
                                   class="listing-item">

                                    <div class="listing-item-title hidden-lg">
                                        <h5>Nuvolato Architop®</h5>
                                    </div>

                                    <div class="listing-item-image-title">
                                        <div class="listing-item-image" style="background-image: url(' ../wp-content/uploads/2017/05/nuvolato-Listing.jpg')"></div>
                                        <h5 class="listing-item-title-dp hidden-xs hidden-sm hidden-md">Nuvolato Architop®</h5>
                                    </div>
                                    <div class="listing-item-detail">

                                        <p class="detail-text">
                                            <span class="text-3 hidden-lg">Thickness</span>
                                            <span class="text-2 pull-right">3-4 mm</span>
                                        </p>

                                        <p class="detail-text">
                                            <span class="text-3 hidden-lg">Support</span>
                                            <span class="text-2 pull-right">concrete, sand and cement, ceramic, natural stone</span>
                                        </p>

                                        <p class="detail-text">
                                            <span class="text-3 hidden-lg">Thickness</span>
                                            <span class="text-2 pull-right">Floors</span>
                                        </p>
                                    </div>
                                </a>
                            </div>
                            <div class="product-item">
                                <a href="#"
                                   class="listing-item">

                                    <div class="listing-item-title hidden-lg">
                                        <h5>Indoor Renovation</h5>
                                    </div>

                                    <div class="listing-item-image-title">
                                        <div class="listing-item-image"></div>
                                        <h5 class="listing-item-title-dp hidden-xs hidden-sm hidden-md">Indoor Renovation</h5>
                                    </div>
                                    <div class="listing-item-detail">

                                        <p class="detail-text">
                                            <span class="text-3 hidden-lg">Thickness</span>
                                            <span class="text-2 pull-right">no thickness</span>
                                        </p>

                                        <p class="detail-text">
                                            <span class="text-3 hidden-lg">Support</span>
                                            <span class="text-2 pull-right">concrete, microtopping, architop</span>
                                        </p>

                                        <p class="detail-text">
                                            <span class="text-3 hidden-lg">Thickness</span>
                                            <span class="text-2 pull-right">floors, walls, stairs and furniture</span>
                                        </p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </section>
                </main><!-- /.main -->
            </div><!-- /.content -->

            <div class="prefooter container">
                <div class="row">
                    <div class="cta-title-container col-md-6">
                        <h3>Contact Us</h3>
                    </div>

                    <div class="cta-container col-md-4">
                        <p class="text-1">
                            Do you have any requests or queries?<br />
                            Do you want more information about our products and services?<br />
                            Do you wish to become an Ideal Work partner or simply contact the company?
                        </p>
                        <a asp-area="" asp-controller="Company" asp-action="Contacts" class="cta">
                            <span class="icon icon-arrow-right-small"></span>
                            <span class="text-3">Contact Us</span>
                        </a>
                    </div>
                </div>
            </div>
        </div><!-- /.wrap -->

    </body>