﻿@{
    ViewData["Title"] = "OutdoorRenovation";
}
    <body class="page-template page-template-template-renovations page-template-template-renovations-php page page-id-5387 outdoor-renovation">

        <div id="stickyTrigger"></div>
        <div class="wrap container-fluid" role="document">
            <div class="content row">
                <main class="main">

                    <div class="page-header-line">
                        <div class="image-container" style="background-image: url('../wp-content/uploads/2017/07/cover_Esterni.jpg')">

                            <div class="breadcrumbs-container">
                                <p id="breadcrumbs"><span xmlns:v="http://rdf.data-vocabulary.org/#">
                                <span typeof="v:Breadcrumb">
                                    <a asp-area="" asp-controller="Home" asp-action="Index" rel="v:url" property="v:title">Home</a>
                                    / <span class="breadcrumb_last">Outdoor Renovation</span>
                                </span></span></p>
                            </div>

                            <div class="page-title-container">
                                <h1>Outdoor Renovation</h1>
                            </div>

                            <div class="page-subtitle-container text-center">
                                <span class="text-1">
                                    The perfect floor and coating for your hardscape, long-lasting and without any limit of thickness. Renew your surfaces by choosing amongst a wide range of colours and effects to obtain a custom-made floor. Choose the material you prefer and create squares, ramps, walls, car parks and many more resistant and modern surfaces!<br />
                                </span>
                            </div>
                        </div>
                    </div>



                    <div id="tabs-container" class="tabs-container container-fluid hidden-xs hidden-sm">
                        <div class="row">
                            <ul class="nav container">
                                <li class="tab text-center active col-md-2">
                                    <a class="h4" href="#intro">OUTDOOR</a>
                                </li>
                                <li class="tab text-center col-md-2">
                                    <a class="h4"
                                       href="#benefits">BENEFITS</a>
                                </li>
                                <li class="tab text-center col-md-2">
                                    <a class="h4"
                                       href="#how">HOW</a>
                                </li>
                                <li class="tab text-center col-md-2">
                                    <a class="h4" href="#products">COMPARE PRODUCTS</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <section id="intro" class="container">
                        <div class="row">

                            <div class="intro-text-container">
                                <div class="intro-text col-xs-12 col-md-6">
                                    <p>Ideal Work renovation solutions can be applied quickly without altering slab profiles, with minimal disruption and in a clean and tidy manner</p>
                                </div>

                            </div>
                        </div>
                    </section>


                    <section id="benefits"
                             class="container container-flexible">

                        <div class="title-container col-xs-12">
                            <h3>BENEFITS</h3>
                        </div>

                        <div class="row row-flexible">



                            <div class="col-md-6 col-md-push-6 text-left column-image">

                                <img src="../wp-content/uploads/2017/05/2010_07_Casa-Luca-e-ditta2-2.jpg" class="img-responsive" alt="">
                            </div>


                            <div class="col-md-6 col-md-pull-6 col-lg-pull-6 text-left column-text">

                                <h3>Minimal disruption, maximum effect</h3>
                                <p>Choosing Ideal Work solutions to renew surfaces save time and money. By using a minimal thickness of material there is no need to alter adjoining landscape profile.</p>


                            </div>

                        </div>


                        <div class="row row-flexible">



                            <div class="col-md-6  text-left column-image">

                                <img src="../wp-content/uploads/2017/06/ideal_stampato_eremitani_23.jpg" class="img-responsive" alt="">
                            </div>


                            <div class="col-md-6  text-left column-text">

                                <h3>Same levels as the old floor: minimal distruption</h3>
                                <p>Ideal Work system can work on minimal thicknesses. With just a few millimetres of material on old surface can be renewed. Where external and internal surfaces meet, maintaining a costant level is essential. This prevents water ingress and trip hazards. It also does away with any requirement to alter doors, door frame and skirtings.</p>


                            </div>

                        </div>


                        <div class="row row-flexible">



                            <div class="col-md-6 col-md-push-6 text-left column-image">

                                <img src="../wp-content/uploads/2017/06/micase9_B2.jpg" class="img-responsive" alt="">
                            </div>


                            <div class="col-md-6 col-md-pull-6 col-lg-pull-6 text-left column-text">

                                <h3>Freeze / Thaw resistant surfaces</h3>
                                <p>The key word is endurance: Ideal Work’s systems are extremely durable, cement based flooring solutions which offer maximum protection against vehicular traffic. Properly maintained, they also offer excellent freeze / thaw resistance. Special protective resins also give added slip-resistance properties, for example on pool decks.</p>


                            </div>

                        </div>

                    </section>

                    <section id="how"
                             class="container container-flexible">

                        <div class="title-container col-xs-12">
                            <h3>HOW</h3>
                        </div>

                        <div class="row row-flexible">



                            <div class="col-md-6  text-left column-image">

                                <img src="../wp-content/uploads/2017/08/2016_08_Ca_Sile.jpg" class="img-responsive" alt="">
                            </div>


                            <div class="col-md-6  text-left column-text">

                                <h3>In Just 4 steps</h3>
                                <p>Renovating floors with Ideal Work systems is simple, effective and carried out by trained, approved, artisan tradesman in 4 steps.</p>
                                <p><strong>CLEANING</strong> of the existing floor or screed</p>
                                <p><strong>FINISHING</strong> the previously cleaned surface to make it level</p>
                                <p><strong>APPLICATION</strong> of the Ideal Work chosen product</p>
                                <p><strong>PROTECTION</strong> of the finished surface with the appropriate sealer</p>


                            </div>

                        </div>

                    </section>





                    <section id="products" class="container container-flexible">

                        <div class="title-container col-xs-12">
                            <h3>COMPARE PRODUCTS</h3>
                        </div>

                        <div class="product-list">

                            <div class="container-fluid hidden-xs hidden-sm hidden-md">
                                <div class="listing-item-heading">
                                    <div class="single-item-heading col-lg-3"><h5>Products</h5></div>
                                    <div class="single-item-heading col-lg-3"><h5>Thickness</h5></div>
                                    <div class="single-item-heading col-lg-3"><h5>Support</h5></div>
                                    <div class="single-item-heading col-lg-3"><h5>Orientation</h5></div>
                                </div>
                            </div>

                            <div class="product-item">
                                <a asp-area="" asp-controller="ProductLines" asp-action="Rasico"
                                   class="listing-item">

                                    <div class="listing-item-title hidden-lg">
                                        <h5>Rasico®</h5>
                                    </div>

                                    <div class="listing-item-image-title">
                                        <div class="listing-item-image" style="background-image: url(' ../wp-content/uploads/2017/07/Rasico-listing.jpg')"></div>
                                        <h5 class="listing-item-title-dp hidden-xs hidden-sm hidden-md">Rasico®</h5>
                                    </div>
                                    <div class="listing-item-detail">

                                        <p class="detail-text">
                                            <span class="text-3 hidden-lg">Thickness</span>
                                            <span class="text-2 pull-right">3 mm</span>
                                        </p>

                                        <p class="detail-text">
                                            <span class="text-3 hidden-lg">Support</span>
                                            <span class="text-2 pull-right">Concrete, Sand and concrete slabs, ceramic, natural stone</span>
                                        </p>

                                        <p class="detail-text">
                                            <span class="text-3 hidden-lg">Support</span>
                                            <span class="text-2 pull-right">Floors</span>
                                        </p>
                                    </div>
                                </a>
                            </div>
                            <div class="product-item">
                                <a href="#"
                                   class="listing-item">

                                    <div class="listing-item-title hidden-lg">
                                        <h5>Outdoor Renovation</h5>
                                    </div>

                                    <div class="listing-item-image-title">
                                        <div class="listing-item-image"></div>
                                        <h5 class="listing-item-title-dp hidden-xs hidden-sm hidden-md">Outdoor Renovation</h5>
                                    </div>
                                    <div class="listing-item-detail">

                                        <p class="detail-text">
                                            <span class="text-3 hidden-lg">Thickness</span>
                                            <span class="text-2 pull-right">3 mm</span>
                                        </p>

                                        <p class="detail-text">
                                            <span class="text-3 hidden-lg">Support</span>
                                            <span class="text-2 pull-right">Concrete, Sand and concrete slabs, ceramic, natural stone</span>
                                        </p>

                                        <p class="detail-text">
                                            <span class="text-3 hidden-lg">Support</span>
                                            <span class="text-2 pull-right">Floors</span>
                                        </p>
                                    </div>
                                </a>
                            </div>
                            <div class="product-item">
                                <a href="#"
                                   class="listing-item">

                                    <div class="listing-item-title hidden-lg">
                                        <h5>Outdoor Renovation</h5>
                                    </div>

                                    <div class="listing-item-image-title">
                                        <div class="listing-item-image"></div>
                                        <h5 class="listing-item-title-dp hidden-xs hidden-sm hidden-md">Outdoor Renovation</h5>
                                    </div>
                                    <div class="listing-item-detail">

                                        <p class="detail-text">
                                            <span class="text-3 hidden-lg">Thickness</span>
                                            <span class="text-2 pull-right">20-40 mm</span>
                                        </p>

                                        <p class="detail-text">
                                            <span class="text-3 hidden-lg">Support</span>
                                            <span class="text-2 pull-right">Concrete, Sand and concrete slabs</span>
                                        </p>

                                        <p class="detail-text">
                                            <span class="text-3 hidden-lg">Support</span>
                                            <span class="text-2 pull-right">Floors</span>
                                        </p>
                                    </div>
                                </a>
                            </div>
                            <div class="product-item">
                                <a href="#"
                                   class="listing-item">

                                    <div class="listing-item-title hidden-lg">
                                        <h5>Outdoor Renovation</h5>
                                    </div>

                                    <div class="listing-item-image-title">
                                        <div class="listing-item-image"></div>
                                        <h5 class="listing-item-title-dp hidden-xs hidden-sm hidden-md">Outdoor Renovation</h5>
                                    </div>
                                    <div class="listing-item-detail">

                                        <p class="detail-text">
                                            <span class="text-3 hidden-lg">Thickness</span>
                                            <span class="text-2 pull-right">25-60 mm</span>
                                        </p>

                                        <p class="detail-text">
                                            <span class="text-3 hidden-lg">Support</span>
                                            <span class="text-2 pull-right">Concrete, Sand and concrete slabs</span>
                                        </p>

                                        <p class="detail-text">
                                            <span class="text-3 hidden-lg">Support</span>
                                            <span class="text-2 pull-right">Floors</span>
                                        </p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </section>
                </main><!-- /.main -->
            </div><!-- /.content -->

            <div class="prefooter container">
                <div class="row">
                    <div class="cta-title-container col-md-6">
                        <h3>Contact Us</h3>
                    </div>

                    <div class="cta-container col-md-4">
                        <p class="text-1">
                            Do you have any requests or queries?<br />
                            Do you want more information about our products and services?<br />
                            Do you wish to become an Ideal Work partner or simply contact the company?<br />
                            <br />
                        </p>
                        <a asp-area="" asp-controller="Company" asp-action="Contacts" class="cta">
                            <span class="icon icon-arrow-right-small"></span>
                            <span class="text-3">Contact Us</span>
                        </a>
                    </div>
                </div>
            </div>
        </div><!-- /.wrap -->
    </body>