﻿@{
    ViewData["Title"] = "Projects";
    string selected_filter = ViewBag.filter;
}
    <body class="archive post-type-archive post-type-archive-work">
        
        <div id="stickyTrigger"></div>
        <div class="wrap container-fluid" role="document">
            <div class="content row">
                <main class="main">
                    <section class="boxed-slider-hero">
                        <div class="text-container">
                            <div class="page-header">

                                <div class="breadcrumbs-container">
                                    <p id="breadcrumbs">
                                        <span xmlns:v="http://rdf.data-vocabulary.org/#">
                                            <span typeof="v:Breadcrumb">
                                                <a asp-area="" asp-controller="Home" asp-action="Index" rel="v:url" property="v:title">Home</a>
                                                / <span class="breadcrumb_last">Projects</span>
                                            </span>
                                        </span>
                                    </p>
                                </div>

                                <div class="page-title-container">
                                    <h1>Projects</h1>
                                </div>

                                <div class="page-subtitle">
                                    <p class="text-1">Ideal Work® systems and solutions allow you to obtain a unique, attractive, valuable finish which can only be provided by true artisan craftsmen and quality materials.</p>
                                </div>

                            </div>


                            <div class="show-more">
                                <a href="#more" class="hidden-xs hidden-sm">
                                    <span class="icon icon-arrow-down"></span>
                                    <span class="text-3">
                                        Find out more
                                    </span>
                                </a>
                            </div>
                        </div>

                        <div class="cover-holder" style="background-image: url('../wp-content/uploads/2017/07/Cover.jpg')">
                            <div class="slider-overlay"></div>
                        </div>



                    </section>


                    <div id="more"></div>
                    <div class="container">
                        <div class="title-container col-xs-12 col-md-8">
                            <h3>Filter by Line</h3>
                        </div>
                        <div class="filter-container col-xs-12">

                            <p class="text-3 filter-subtitle">Use filters to refine your search</p>
                            <div class="filter-single no-padding col-xs-12 col-md-4">
                                <div class="filter-title col-xs-6">
                                    <h5>Line</h5>
                                </div>
                                <div class="filter-option-selected col-xs-6">
                                    <span class="text-3">@selected_filter</span>
                                    <span class="icon icon-caret-down"></span>
                                </div>
                                <ul class="filter-options col-xs-6 col-xs-offset-6">
                                    <li class="filter-option">
                                        <a asp-area="" asp-controller="Projects" asp-action="Projects" asp-route-filter="All">
                                            <span class="text-3">All</span>
                                        </a>
                                    </li>
                                    <li class="filter-option">
                                        <a asp-area="" asp-controller="Projects" asp-action="Projects" asp-route-filter="Microtopping">
                                            <span class="text-3">Microtopping®</span>
                                        </a>
                                    </li>
                                    <li class="filter-option">
                                        <a asp-area="" asp-controller="Projects" asp-action="Projects" asp-route-filter="LixioPlus">
                                            <span class="text-3">Lixio®+</span>
                                        </a>
                                    </li>
                                    <li class="filter-option">
                                        <a asp-area="" asp-controller="Projects" asp-action="Projects" asp-route-filter="SassoitaliaFloor">
                                            <span class="text-3">Sassoitalia® Floor</span>
                                        </a>
                                    </li>
                                    <li class="filter-option">
                                        <a asp-area="" asp-controller="Projects" asp-action="Projects" asp-route-filter="Lixio">
                                            <span class="text-3">Lixio®</span>
                                        </a>
                                    </li>
                                    <li class="filter-option">
                                        <a asp-area="" asp-controller="Projects" asp-action="Projects" asp-route-filter="AcidStainedFloor">
                                            <span class="text-3">Acid Stained floor</span>
                                        </a>
                                    </li>
                                    <li class="filter-option">
                                        <a asp-area="" asp-controller="Projects" asp-action="Projects" asp-route-filter="Rasico">
                                            <span class="text-3">Rasico®</span>
                                        </a>
                                    </li>
                                    <li class="filter-option">
                                        <a asp-area="" asp-controller="Projects" asp-action="Projects" asp-route-filter="NuvolatoArchitop">
                                            <span class="text-3">Nuvolato Architop®</span>
                                        </a>
                                    </li>
                                    <li class="filter-option">
                                        <a asp-area="" asp-controller="Projects" asp-action="Projects" asp-route-filter="Purometallo">
                                            <span class="text-3">Purometallo</span>
                                        </a>
                                    </li>
                                    <li class="filter-option">
                                        <a asp-area="" asp-controller="Projects" asp-action="Projects" asp-route-filter="IdealWall">
                                            <span class="text-3">Ideal Wall</span>
                                        </a>
                                    </li>
                                    <li class="filter-option">
                                        <a asp-area="" asp-controller="Projects" asp-action="Projects" asp-route-filter="StampedConcrete">
                                            <span class="text-3">Stamped Concrete</span>
                                        </a>
                                    </li>
                                    <li class="filter-option">
                                        <a asp-area="" asp-controller="Projects" asp-action="Projects" asp-route-filter="SassoitaliaFloor">
                                            <span class="text-3">Stenciltop floor</span>
                                        </a>
                                    </li>
                                    <li class="filter-option">
                                        <a asp-area="" asp-controller="Projects" asp-action="Projects" asp-route-filter="IdealTix">
                                            <span class="text-3">Ideal Tix</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="container">
                        <div class="row listing_inst-container row-3 row-right">
                            <div class="child-item"
                                 style="@(selected_filter == "All" || selected_filter == "Microtopping" ? "display:block" : "display:none")">
                                <a asp-area="" asp-controller="Projects" asp-action="Pages" asp-route-page="geoxstoreinmadrid">
                                    <div class="item-image"
                                         style="background: url('../wp-content/uploads/2020/04/2020_02_Negozio-Geox-Madrid_MT_slider.jpg') no-repeat center; background-size: cover;">

                                    </div>
                                    <h3>
                                        Geox store in Madrid
                                    </h3>

                                    <div class="cta-container">
                                        <span class="icon icon-arrow-right-small"></span>
                                        <p class="text-3">Visit the project</p>
                                    </div>
                                </a>
                            </div>
                            <div class="child-item"
                                 style="@(selected_filter == "All" || selected_filter == "Microtopping" ? "display:block" : "display:none")">
                                <a asp-area="" asp-controller="Projects" asp-action="Pages" asp-route-page="privateapartmentinbarcelona">
                                    <div class="item-image"
                                         style="background: url('../wp-content/uploads/2020/03/2020_03_appartamento-a-barcellona_MT_19_w_slider.jpg') no-repeat center; background-size: cover;">

                                    </div>
                                    <h3>
                                        Private apartment in Barcelona
                                    </h3>

                                    <div class="cta-container">
                                        <span class="icon icon-arrow-right-small"></span>
                                        <p class="text-3">
                                            Visit the project
                                        </p>
                                    </div>
                                </a>
                            </div>
                            @*<div class="child-item"
                                 style="@(selected_filter == "All" || selected_filter == "Microtopping" ? "display:block" : "display:none")">

                                <a asp-area="" asp-controller="Projects" asp-action="Pages" asp-route-page="jewelsstoreinantwerp">
                                    <div class="item-image"
                                         style="background: url('../wp-content/uploads/2020/03/2020_03_Jewels-store_MT_6_w_slider.jpg') no-repeat center; background-size: cover;">

                                    </div>
                                    <h3>
                                        Jewels store in Antwerp
                                    </h3>

                                    <div class="cta-container">
                                        <span class="icon icon-arrow-right-small"></span>
                                        <p class="text-3">
                                            Visit the project
                                        </p>
                                    </div>
                                </a>
                            </div>
                            <div class="child-item"
                                 style="@(selected_filter == "All" || selected_filter == "Microtopping" ? "display:block" : "display:none")">

                                <a asp-area="" asp-controller="Projects" asp-action="Pages" asp-route-page="founderofficeabudhabi">
                                    <div class="item-image"
                                         style="background: url('../wp-content/uploads/2020/03/2020_03_Founders-Office-Abu-Dhabi_MT_4_slider.jpg') no-repeat center; background-size: cover;">

                                    </div>
                                    <h3>
                                        Founder’s Office in Abu Dhabi
                                    </h3>

                                    <div class="cta-container">
                                        <span class="icon icon-arrow-right-small"></span>
                                        <p class="text-3">
                                            Visit the project
                                        </p>
                                    </div>
                                </a>
                            </div>
                            <div class="child-item" style="@(selected_filter == "All" || selected_filter == "Microtopping" ? "display:block" : "display:none")">
                                <a asp-area="" asp-controller="Projects" asp-action="Pages" asp-route-page="loftinzagabria">
                                    <div class="item-image"
                                         style="background: url('../wp-content/uploads/2020/03/2020_03_Loft-Zagabria_MT_10_slider.jpg') no-repeat center; background-size: cover;">

                                    </div>
                                    <h3>
                                        Loft in Zagabria
                                    </h3>

                                    <div class="cta-container">
                                        <span class="icon icon-arrow-right-small"></span>
                                        <p class="text-3">
                                            Visit the project
                                        </p>
                                    </div>
                                </a>
                            </div>
                            <div class="child-item" style="@(selected_filter == "All" || selected_filter == "Microtopping" ? "display:block" : "display:none")">
                                <a asp-area="" asp-controller="Projects" asp-action="Pages" asp-route-page="krakataushop">
                                    <div class="item-image"
                                         style="background: url('../wp-content/uploads/2020/03/2020_01_Krakatau-shop_MT_13.jpg') no-repeat center; background-size: cover;">

                                    </div>
                                    <h3>
                                        Krakatau Shop
                                    </h3>

                                    <div class="cta-container">
                                        <span class="icon icon-arrow-right-small"></span>
                                        <p class="text-3">
                                            Visit the project
                                        </p>
                                    </div>
                                </a>
                            </div>
                            <div class="child-item" style="@(selected_filter == "All" || selected_filter == "Microtopping" ? "display:block" : "display:none")">
                                <a asp-area="" asp-controller="Projects" asp-action="Pages" asp-route-page="contemporaryauditoriuminsideasixteenthcenturychurch">
                                    <div class="item-image"
                                         style="background: url('../wp-content/uploads/2019/11/2019_10_Teatro-Rotello_MT_slider.jpg') no-repeat center; background-size: cover;">

                                    </div>
                                    <h3>
                                        Contemporary auditorium inside a sixteenth-century church
                                    </h3>

                                    <div class="cta-container">
                                        <span class="icon icon-arrow-right-small"></span>
                                        <p class="text-3">
                                            Visit the project
                                        </p>
                                    </div>
                                </a>
                            </div>
                            <div class="child-item" style="@(selected_filter == "All" || selected_filter == "Microtopping" ? "display:block" : "display:none")">
                                <a asp-area="" asp-controller="Projects" asp-action="Pages" asp-route-page="privatehouseinbassanodelgrappa">
                                    <div class="item-image"
                                         style="background: url('../../wp-content/uploads/2019/11/2019_10_casa-a-Bassano_00.jpg') no-repeat center; background-size: cover;">

                                    </div>
                                    <h3>
                                        Private house in Bassano del Grappa
                                    </h3>

                                    <div class="cta-container">
                                        <span class="icon icon-arrow-right-small"></span>
                                        <p class="text-3">
                                            Visit the project
                                        </p>
                                    </div>
                                </a>
                            </div>
                            <div class="child-item" style="@(selected_filter == "All" || selected_filter == "Microtopping" ? "display:block" : "display:none")">
                                <a asp-area="" asp-controller="Projects" asp-action="Pages" asp-route-page="opticalshopinbelgium">
                                    <div class="item-image"
                                         style="background: url('../../wp-content/uploads/2020/01/2020_01_Negozio-occhiali_MT_01.jpg') no-repeat center; background-size: cover;">

                                    </div>
                                    <h3>
                                        Optical shop in Belgium
                                    </h3>

                                    <div class="cta-container">
                                        <span class="icon icon-arrow-right-small"></span>
                                        <p class="text-3">
                                            Visit the project
                                        </p>
                                    </div>
                                </a>
                            </div>
                            <div class="child-item" style="@(selected_filter == "All" || selected_filter == "Microtopping" ? "display:block" : "display:none")">
                                <a asp-area="" asp-controller="Projects" asp-action="Pages" asp-route-page="privateapartmentsalento">
                                    <div class="item-image"
                                         style="background: url('../../wp-content/uploads/2020/03/2019_11_Santa-Maria-al-Bagno_RASICO_MT_14_slider.jpg') no-repeat center; background-size: cover;">

                                    </div>
                                    <h3>
                                        Private apartment in Salento
                                    </h3>

                                    <div class="cta-container">
                                        <span class="icon icon-arrow-right-small"></span>
                                        <p class="text-3">
                                            Visit the project
                                        </p>
                                    </div>
                                </a>
                            </div>
                            <div class="child-item" style="@(selected_filter == "All" || selected_filter == "Microtopping" ? "display:block" : "display:none")">
                                <a asp-area="" asp-controller="Projects" asp-action="Pages" asp-route-page="apartmentbythesea">
                                    <div class="item-image"
                                         style="background: url('../../wp-content/uploads/2019/12/2019_12_appartamento-al-mare-a-Cavallino_MT_9.jpg') no-repeat center; background-size: cover;">

                                    </div>
                                    <h3>
                                        Apartment by the sea in Jesolo
                                    </h3>

                                    <div class="cta-container">
                                        <span class="icon icon-arrow-right-small"></span>
                                        <p class="text-3">
                                            Visit the project
                                        </p>
                                    </div>
                                </a>
                            </div>
                            <div class="child-item" style="@(selected_filter == "All" || selected_filter == "Microtopping" ? "display:block" : "display:none")">
                                <a asp-area="" asp-controller="Projects" asp-action="Pages" asp-route-page="privatehouseingent">
                                    <div class="item-image"
                                         style="background: url('../../wp-content/uploads/2019/10/2019_10_villa-a-Gent-belgium_MT_4-slider.jpg') no-repeat center; background-size: cover;">

                                    </div>
                                    <h3>
                                        Private house in Gent
                                    </h3>

                                    <div class="cta-container">
                                        <span class="icon icon-arrow-right-small"></span>
                                        <p class="text-3">
                                            Visit the project
                                        </p>
                                    </div>
                                </a>
                            </div>
                            <div class="child-item" style="@(selected_filter == "All" || selected_filter == "Microtopping" ? "display:block" : "display:none")">
                                <a asp-area="" asp-controller="Projects" asp-action="Pages" asp-route-page="koreantraditionalhouse">
                                    <div class="item-image"
                                         style="background: url('../../../../wp-content/uploads/2019/03/2019_03_casa-tradizionale-coreana_MT_14_slider.jpg') no-repeat center; background-size: cover;">

                                    </div>
                                    <h3>
                                        Korean traditional house
                                    </h3>

                                    <div class="cta-container">
                                        <span class="icon icon-arrow-right-small"></span>
                                        <p class="text-3">
                                            Visit the project
                                        </p>
                                    </div>
                                </a>
                            </div>
                            <div class="child-item" style="@(selected_filter == "All" || selected_filter == "Microtopping" ? "display:block" : "display:none")">
                                <a asp-area="" asp-controller="Projects" asp-action="Pages" asp-route-page="trendyolcampus">
                                    <div class="item-image"
                                         style="background: url('../../../../wp-content/uploads/2020/03/TRENDYOL-campus_MT_LIXIO_06_slider.jpg') no-repeat center; background-size: cover;">

                                    </div>
                                    <h3>
                                        Trendyol Campus
                                    </h3>

                                    <div class="cta-container">
                                        <span class="icon icon-arrow-right-small"></span>
                                        <p class="text-3">
                                            Visit the project
                                        </p>
                                    </div>
                                </a>
                            </div>
                            <div class="child-item" style="@(selected_filter == "All" || selected_filter == "Microtopping" ? "display:block" : "display:none")">
                                <a asp-area="" asp-controller="Projects" asp-action="Pages" asp-route-page="privatevillainveenendaal">
                                    <div class="item-image"
                                         style="background: url('../../../../wp-content/uploads/2019/10/2019-10_Private-villa-in-VeenendaalHolland_MT_7_slider.jpg') no-repeat center; background-size: cover;">

                                    </div>
                                    <h3>
                                        Private villa in Veenendaal
                                    </h3>

                                    <div class="cta-container">
                                        <span class="icon icon-arrow-right-small"></span>
                                        <p class="text-3">
                                            Visit the project
                                        </p>
                                    </div>
                                </a>
                            </div>
                            <div class="child-item" style="@(selected_filter == "All" || selected_filter == "Microtopping" ? "display:block" : "display:none")">
                                <a asp-area="" asp-controller="Projects" asp-action="Pages" asp-route-page="villanemes">
                                    <div class="item-image"
                                         style="background: url('../../../../wp-content/uploads/2019/03/2019_03_villa-Nemes_MT_3_slider.jpg') no-repeat center; background-size: cover;">

                                    </div>
                                    <h3>
                                        Villa Nemes
                                    </h3>

                                    <div class="cta-container">
                                        <span class="icon icon-arrow-right-small"></span>
                                        <p class="text-3">
                                            Visit the project
                                        </p>
                                    </div>
                                </a>
                            </div>
                            <div class="child-item" style="@(selected_filter == "All" || selected_filter == "Microtopping" ? "display:block" : "display:none")">
                                <a asp-area="" asp-controller="Projects" asp-action="Pages" asp-route-page="uccaduneartmuseum">
                                    <div class="item-image"
                                         style="background: url('../../../../wp-content/uploads/2019/03/08_Outdoor-Exhibition-Terrace_Credit-WU-Qingshan_slider.jpg') no-repeat center; background-size: cover;">

                                    </div>
                                    <h3>
                                        UCCA Dune Art Museum
                                    </h3>

                                    <div class="cta-container">
                                        <span class="icon icon-arrow-right-small"></span>
                                        <p class="text-3">
                                            Visit the project
                                        </p>
                                    </div>
                                </a>
                            </div>
                            <div class="child-item" style="@(selected_filter == "All" || selected_filter == "Microtopping" ? "display:block" : "display:none")">
                                <a asp-area="" asp-controller="Projects" asp-action="Pages" asp-route-page="privatevillainbelgium">
                                    <div class="item-image"
                                         style="background: url('../../../../wp-content/uploads/2019/03/2019_02_LEDOUX-%e2%80%93-HELLEPUTTE_belgio_MT_slider.jpg') no-repeat center; background-size: cover;">

                                    </div>
                                    <h3>
                                        Private Villa in Belgium
                                    </h3>

                                    <div class="cta-container">
                                        <span class="icon icon-arrow-right-small"></span>
                                        <p class="text-3">
                                            Visit the project
                                        </p>
                                    </div>
                                </a>
                            </div>
                            <div class="child-item" style="@(selected_filter == "All" || selected_filter == "Microtopping" ? "display:block" : "display:none")">
                                <a asp-area="" asp-controller="Projects" asp-action="Pages" asp-route-page="villatheo">
                                    <div class="item-image"
                                         style="background: url('../../../../wp-content/uploads/2019/03/%c2%a9Lucid_Femax_schilde_08_slider.jpg') no-repeat center; background-size: cover;">

                                    </div>
                                    <h3>
                                        Villa Theo
                                    </h3>

                                    <div class="cta-container">
                                        <span class="icon icon-arrow-right-small"></span>
                                        <p class="text-3">
                                            Visit the project
                                        </p>
                                    </div>
                                </a>
                            </div>
                            <div class="child-item" style="@(selected_filter == "All" || selected_filter == "Microtopping" ? "display:block" : "display:none")">
                                <a asp-area="" asp-controller="Projects" asp-action="Pages" asp-route-page="loftstudiobelgium">
                                    <div class="item-image"
                                         style="background: url('../../../../wp-content/uploads/2019/03/%c2%a9SarahVanHoveForStijlvolWonen_019_mod_slider.jpg') no-repeat center; background-size: cover;">

                                    </div>
                                    <h3>
                                        Loft studio in Belgium
                                    </h3>

                                    <div class="cta-container">
                                        <span class="icon icon-arrow-right-small"></span>
                                        <p class="text-3">
                                            Visit the project
                                        </p>
                                    </div>
                                </a>
                            </div>
                            <div class="child-item" style="@(selected_filter == "All" || selected_filter == "Microtopping" ? "display:block" : "display:none")">
                                <a asp-area="" asp-controller="Projects" asp-action="Pages" asp-route-page="entetecafe">
                                    <div class="item-image"
                                         style="background: url('../../../../wp-content/uploads/2019/06/2019_06_Cafe%cc%80_Entete_Korea_MT-web-7.jpg') no-repeat center; background-size: cover;">

                                    </div>
                                    <h3>
                                        Entete Cafè
                                    </h3>

                                    <div class="cta-container">
                                        <span class="icon icon-arrow-right-small"></span>
                                        <p class="text-3">
                                            Visit the project
                                        </p>
                                    </div>
                                </a>
                            </div>
                            <div class="child-item" style="@(selected_filter == "All" || selected_filter == "Microtopping" ? "display:block" : "display:none")">
                                <a asp-area="" asp-controller="Projects" asp-action="Pages" asp-route-page="privatehouseinantwerp">
                                    <div class="item-image"
                                         style="background: url('../../../../wp-content/uploads/2019/05/2019_05_Villa-Belgio_texture-painting_MT_3.png') no-repeat center; background-size: cover;">

                                    </div>
                                    <h3>
                                        Private house in Antwerp
                                    </h3>

                                    <div class="cta-container">
                                        <span class="icon icon-arrow-right-small"></span>
                                        <p class="text-3">
                                            Visit the project
                                        </p>
                                    </div>
                                </a>
                            </div>
                            <div class="child-item" style="@(selected_filter == "All" || selected_filter == "Microtopping" ? "display:block" : "display:none")">
                                <a asp-area="" asp-controller="Projects" asp-action="Pages" asp-route-page="campotorresresort">
                                    <div class="item-image"
                                         style="background: url('../../../../wp-content/uploads/2019/03/2018_09_campo-torres-resort_liguria_SASSO_slider.jpg') no-repeat center; background-size: cover;">

                                    </div>
                                    <h3>
                                        Campo Torres Resort
                                    </h3>

                                    <div class="cta-container">
                                        <span class="icon icon-arrow-right-small"></span>
                                        <p class="text-3">
                                            Visit the project
                                        </p>
                                    </div>
                                </a>
                            </div>
                            <div class="child-item" style="@(selected_filter == "All" || selected_filter == "Microtopping" ? "display:block" : "display:none")">
                                <a asp-area="" asp-controller="Projects" asp-action="Pages" asp-route-page="aalbertsinutrecht">
                                    <div class="item-image"
                                         style="background: url('../../../../wp-content/uploads/2019/04/2019_04_Aalberts-Utrecht_MT_web_4.jpg') no-repeat center; background-size: cover;">

                                    </div>
                                    <h3>
                                        Aalberts in Utrecht
                                    </h3>

                                    <div class="cta-container">
                                        <span class="icon icon-arrow-right-small"></span>
                                        <p class="text-3">
                                            Visit the project
                                        </p>
                                    </div>
                                </a>
                            </div>
                            <div class="child-item" style="@(selected_filter == "All" || selected_filter == "Microtopping" ? "display:block" : "display:none")">
                                <a asp-area="" asp-controller="Projects" asp-action="Pages" asp-route-page="penthousemdb">
                                    <div class="item-image"
                                         style="background: url('../../../../wp-content/uploads/2019/03/2018_09_Penthouse-M-DB-Belgium_MT_3.jpg') no-repeat center; background-size: cover;">

                                    </div>
                                    <h3>
                                        Penthouse M-DB
                                    </h3>

                                    <div class="cta-container">
                                        <span class="icon icon-arrow-right-small"></span>
                                        <p class="text-3">
                                            Visit the project
                                        </p>
                                    </div>
                                </a>
                            </div>
                            <div class="child-item" style="@(selected_filter == "All" || selected_filter == "Microtopping" ? "display:block" : "display:none")">
                                <a asp-area="" asp-controller="Projects" asp-action="Pages" asp-route-page="kazanpalacehotel">
                                    <div class="item-image"
                                         style="background: url('../../../../wp-content/uploads/2019/01/2018_11_hotel_kazan_atrio_4-post-web.jpg') no-repeat center; background-size: cover;">

                                    </div>
                                    <h3>
                                        Kazan Palace Hotel
                                    </h3>

                                    <div class="cta-container">
                                        <span class="icon icon-arrow-right-small"></span>
                                        <p class="text-3">
                                            Visit the project
                                        </p>
                                    </div>
                                </a>
                            </div>
                            <div class="child-item" style="@(selected_filter == "All" || selected_filter == "Microtopping" ? "display:block" : "display:none")">
                                <a asp-area="" asp-controller="Projects" asp-action="Pages" asp-route-page="siloapartmentmmkanaal">
                                    <div class="item-image"
                                         style="background: url('../../../../wp-content/uploads/2018/10/2017_07_Silo_Kanaal_MT_web.jpg') no-repeat center; background-size: cover;">

                                    </div>
                                    <h3>
                                        Silo apartment M-M &#8211; Kanaal
                                    </h3>

                                    <div class="cta-container">
                                        <span class="icon icon-arrow-right-small"></span>
                                        <p class="text-3">
                                            Visit the project
                                        </p>
                                    </div>
                                </a>
                            </div>
                            <div class="child-item" style="@(selected_filter == "All" || selected_filter == "Microtopping" ? "display:block" : "display:none")">
                                <a asp-area="" asp-controller="Projects" asp-action="Pages" asp-route-page="receptioncounter">
                                    <div class="item-image"
                                         style="background: url('../../../../wp-content/uploads/2019/05/2019_05_Bancone-ufficio-danimarca_MT_1-web.jpg') no-repeat center; background-size: cover;">

                                    </div>
                                    <h3>
                                        Reception Counter
                                    </h3>

                                    <div class="cta-container">
                                        <span class="icon icon-arrow-right-small"></span>
                                        <p class="text-3">
                                            Visit the project
                                        </p>
                                    </div>
                                </a>
                            </div>
                            <div class="child-item" style="@(selected_filter == "All" || selected_filter == "Microtopping" ? "display:block" : "display:none")">
                                <a asp-area="" asp-controller="Projects" asp-action="Pages" asp-route-page="industrialluxuryforasiloincopenhagensharbour">
                                    <div class="item-image"
                                         style="background: url('../../../../wp-content/uploads/2018/05/Silo-cover-s.jpg') no-repeat center; background-size: cover;">

                                    </div>
                                    <h3>
                                        Industrial luxury for a Silo in Copenhagen’s harbour
                                    </h3>

                                    <div class="cta-container">
                                        <span class="icon icon-arrow-right-small"></span>
                                        <p class="text-3">
                                            Visit the project
                                        </p>
                                    </div>
                                </a>
                            </div>
                            <div class="child-item" style="@(selected_filter == "All" || selected_filter == "Microtopping" ? "display:block" : "display:none")">
                                <a asp-area="" asp-controller="Projects" asp-action="Pages" asp-route-page="fishzelenisrestaurant">
                                    <div class="item-image"
                                         style="background: url('../../../../wp-content/uploads/2019/01/2018_07_FISHZELENIS%cc%8c-restaurant_slider.jpg') no-repeat center; background-size: cover;">

                                    </div>
                                    <h3>
                                        Fishzeleniš Restaurant
                                    </h3>

                                    <div class="cta-container">
                                        <span class="icon icon-arrow-right-small"></span>
                                        <p class="text-3">
                                            Visit the project
                                        </p>
                                    </div>
                                </a>
                            </div>
                            <div class="child-item" style="@(selected_filter == "All" || selected_filter == "Microtopping" ? "display:block" : "display:none")">
                                <a asp-area="" asp-controller="Projects" asp-action="Pages" asp-route-page="thearkofkonieczny">
                                    <div class="item-image"
                                         style="background: url('../../../../wp-content/uploads/2017/11/Slider_Ark_KWK.jpg') no-repeat center; background-size: cover;">

                                    </div>
                                    <h3>
                                        The Ark of Konieczny
                                    </h3>

                                    <div class="cta-container">
                                        <span class="icon icon-arrow-right-small"></span>
                                        <p class="text-3">
                                            Visit the project
                                        </p>
                                    </div>
                                </a>
                            </div>
                            <div class="child-item" style="@(selected_filter == "All" || selected_filter == "Microtopping" ? "display:block" : "display:none")">
                                <a asp-area="" asp-controller="Projects" asp-action="Pages" asp-route-page="privatehouseinsandonadipiave">
                                    <div class="item-image"
                                         style="background: url('../../../../wp-content/uploads/2018/08/BRU1_41A8086-HDR-CASONATO_slider.jpg') no-repeat center; background-size: cover;">

                                    </div>
                                    <h3>
                                        Private house in San Donà di Piave
                                    </h3>

                                    <div class="cta-container">
                                        <span class="icon icon-arrow-right-small"></span>
                                        <p class="text-3">
                                            Visit the project
                                        </p>
                                    </div>
                                </a>
                            </div>
                            <div class="child-item" style="@(selected_filter == "All" || selected_filter == "Microtopping" ? "display:block" : "display:none")">
                                <a asp-area="" asp-controller="Projects" asp-action="Pages" asp-route-page="martismountainretreatlot467">
                                    <div class="item-image"
                                         style="background: url('../../../../wp-content/uploads/2019/05/467MartisCamp06_mod.jpg') no-repeat center; background-size: cover;">

                                    </div>
                                    <h3>
                                        Martis Mountain Retreat Lot 467
                                    </h3>

                                    <div class="cta-container">
                                        <span class="icon icon-arrow-right-small"></span>
                                        <p class="text-3">
                                            Visit the project
                                        </p>
                                    </div>
                                </a>
                            </div>
                            <div class="child-item" style="@(selected_filter == "All" || selected_filter == "Microtopping" ? "display:block" : "display:none")">
                                <a asp-area="" asp-controller="Projects" asp-action="Pages" asp-route-page="poolhousekasterlee">
                                    <div class="item-image"
                                         style="background: url('../../../../wp-content/uploads/2017/11/PoolhouseArjaan14_web_slider.jpg') no-repeat center; background-size: cover;">

                                    </div>
                                    <h3>
                                        Poolhouse in Kasterlee
                                    </h3>

                                    <div class="cta-container">
                                        <span class="icon icon-arrow-right-small"></span>
                                        <p class="text-3">
                                            Visit the project
                                        </p>
                                    </div>
                                </a>
                            </div>
                            <div class="child-item" style="@(selected_filter == "All" || selected_filter == "Microtopping" ? "display:block" : "display:none")">
                                <a asp-area="" asp-controller="Projects" asp-action="Pages" asp-route-page="cubeapartmentvssitekanaal">
                                    <div class="item-image"
                                         style="background: url('../../../../wp-content/uploads/2017/08/slider_Appartamento_Belgio_MT1.jpg') no-repeat center; background-size: cover;">

                                    </div>
                                    <h3>
                                        Cube Apartment V-S &#8211; Site Kanaal
                                    </h3>

                                    <div class="cta-container">
                                        <span class="icon icon-arrow-right-small"></span>
                                        <p class="text-3">
                                            Visit the project
                                        </p>
                                    </div>
                                </a>
                            </div>
                            <div class="child-item" style="@(selected_filter == "All" || selected_filter == "Microtopping" ? "display:block" : "display:none")">
                                <a asp-area="" asp-controller="Projects" asp-action="Pages" asp-route-page="smartgovernmentofficeindubai">
                                    <div class="item-image"
                                         style="background: url('../../../../wp-content/uploads/2017/11/2017_08_Smart-Office-Dubai_-MT_web.jpg') no-repeat center; background-size: cover;">

                                    </div>
                                    <h3>
                                        Smart Government Office in Dubai
                                    </h3>

                                    <div class="cta-container">
                                        <span class="icon icon-arrow-right-small"></span>
                                        <p class="text-3">
                                            Visit the project
                                        </p>
                                    </div>
                                </a>
                            </div>
                            <div class="child-item" style="@(selected_filter == "All" || selected_filter == "Microtopping" ? "display:block" : "display:none")">
                                <a asp-area="" asp-controller="Projects" asp-action="Pages" asp-route-page="audiocase">
                                    <div class="item-image"
                                         style="background: url('../../../../wp-content/uploads/2017/11/2017_10_Audio-Case_-MT8_web_slider.jpg') no-repeat center; background-size: cover;">

                                    </div>
                                    <h3>
                                        Audio Case
                                    </h3>

                                    <div class="cta-container">
                                        <span class="icon icon-arrow-right-small"></span>
                                        <p class="text-3">
                                            Visit the project
                                        </p>
                                    </div>
                                </a>
                            </div>
                            <div class="child-item" style="@(selected_filter == "All" || selected_filter == "Microtopping" ? "display:block" : "display:none")">
                                <a asp-area="" asp-controller="Projects" asp-action="Pages" asp-route-page="clothingstoreinbelgium">
                                    <div class="item-image"
                                         style="background: url('../../../../wp-content/uploads/2017/11/2017_10_negozio_belgio_MT_sider.jpg') no-repeat center; background-size: cover;">

                                    </div>
                                    <h3>
                                        Clothing store in Belgium
                                    </h3>

                                    <div class="cta-container">
                                        <span class="icon icon-arrow-right-small"></span>
                                        <p class="text-3">
                                            Visit the project
                                        </p>
                                    </div>
                                </a>
                            </div>
                            <div class="child-item" style="@(selected_filter == "All" || selected_filter == "Microtopping" ? "display:block" : "display:none")">
                                <a asp-area="" asp-controller="Projects" asp-action="Pages" asp-route-page="privatehousenearvicenza">
                                    <div class="item-image"
                                         style="background: url('../../../../wp-content/uploads/2017/11/2017_08_Mazzaro-Costabissara_LIXIO_MT_web.jpg') no-repeat center; background-size: cover;">

                                    </div>
                                    <h3>
                                        Private house near Vicenza
                                    </h3>

                                    <div class="cta-container">
                                        <span class="icon icon-arrow-right-small"></span>
                                        <p class="text-3">
                                            Visit the project
                                        </p>
                                    </div>
                                </a>
                            </div>
                            <div class="child-item" style="@(selected_filter == "All" || selected_filter == "Microtopping" ? "display:block" : "display:none")">
                                <a asp-area="" asp-controller="Projects" asp-action="Pages" asp-route-page="meggettoshoesstoretreviso">
                                    <div class="item-image"
                                         style="background: url('../../../../wp-content/uploads/2017/08/slider_Meggetto_ARCHITOP_MT.jpg') no-repeat center; background-size: cover;">

                                    </div>
                                    <h3>
                                        Meggetto shoes store in Treviso
                                    </h3>

                                    <div class="cta-container">
                                        <span class="icon icon-arrow-right-small"></span>
                                        <p class="text-3">
                                            Visit the project
                                        </p>
                                    </div>
                                </a>
                            </div>
                            <div class="child-item" style="@(selected_filter == "All" || selected_filter == "Microtopping" ? "display:block" : "display:none")">
                                <a asp-area="" asp-controller="Projects" asp-action="Pages" asp-route-page="privateresidencekrk">
                                    <div class="item-image"
                                         style="background: url('../../../../wp-content/uploads/2017/08/slide-Villa-Krk-Croazia.jpg') no-repeat center; background-size: cover;">

                                    </div>
                                    <h3>
                                        Private Residence Krk
                                    </h3>

                                    <div class="cta-container">
                                        <span class="icon icon-arrow-right-small"></span>
                                        <p class="text-3">
                                            Visit the project
                                        </p>
                                    </div>
                                </a>
                            </div>
                            <div class="child-item" style="@(selected_filter == "All" || selected_filter == "Microtopping" ? "display:block" : "display:none")">
                                <a asp-area="" asp-controller="Projects" asp-action="Pages" asp-route-page="privateresidencealacati">
                                    <div class="item-image"
                                         style="background: url('../../../../wp-content/uploads/2017/08/silde-2017-07-Villa-ALACATI.jpg') no-repeat center; background-size: cover;">

                                    </div>
                                    <h3>
                                        Private Residence Alacati
                                    </h3>

                                    <div class="cta-container">
                                        <span class="icon icon-arrow-right-small"></span>
                                        <p class="text-3">
                                            Visit the project
                                        </p>
                                    </div>
                                </a>
                            </div>
                            <div class="child-item" style="@(selected_filter == "All" || selected_filter == "Microtopping" ? "display:block" : "display:none")">
                                <a asp-area="" asp-controller="Projects" asp-action="Pages" asp-route-page="privateresidencebodrum">
                                    <div class="item-image"
                                         style="background: url('../../../../wp-content/uploads/2017/08/slider_Bodrum-Villa.jpg') no-repeat center; background-size: cover;">

                                    </div>
                                    <h3>
                                        Private Residence Bodrum
                                    </h3>

                                    <div class="cta-container">
                                        <span class="icon icon-arrow-right-small"></span>
                                        <p class="text-3">
                                            Visit the project
                                        </p>
                                    </div>
                                </a>
                            </div>*@
                            <div class="child-item" style="@(selected_filter == "All" || selected_filter == "LixioPlus" ? "display:block" : "display:none")">
                                <a asp-area="" asp-controller="Projects" asp-action="Pages" asp-route-page="laghiacciaia">
                                    <div class="item-image"
                                         style="background: url('../../wp-content/uploads/2020/01/2020_01_La-Ghiacciaia_LIXIO_SASSO_30_mod_web_slider.jpg') no-repeat center; background-size: cover;">

                                    </div>
                                    <h3>
                                        La Ghiacciaia
                                    </h3>

                                    <div class="cta-container">
                                        <span class="icon icon-arrow-right-small"></span>
                                        <p class="text-3">
                                            Visit the project
                                        </p>
                                    </div>
                                </a>
                            </div>
                            <div class="child-item" style="@(selected_filter == "All" || selected_filter == "LixioPlus" ? "display:block" : "display:none")">
                                <a asp-area="" asp-controller="Projects" asp-action="Pages" asp-route-page="roxanich_wine_heritage_hotel">
                                    <div class="item-image"
                                         style="background: url('../../wp-content/uploads/2019/10/Roxanich-hotel-marec-2019-Photo-Dean-Dubokovic-166.jpg') no-repeat center; background-size: cover;">

                                    </div>
                                    <h3>
                                        Roxanich Wine &#038; Heritage Hotel
                                    </h3>

                                    <div class="cta-container">
                                        <span class="icon icon-arrow-right-small"></span>
                                        <p class="text-3">
                                            Visit the project
                                        </p>
                                    </div>
                                </a>
                            </div>
                            @*<div class="child-item" style="@(selected_filter == "All" || selected_filter == "LixioPlus" ? "display:block" : "display:none")">
                                <a asp-area="" asp-controller="Projects" asp-action="Pages" asp-route-page="trendyolcampus">
                                    <div class="item-image"
                                         style="background: url('../../wp-content/uploads/2020/03/TRENDYOL-campus_MT_LIXIO_06_slider.jpg') no-repeat center; background-size: cover;">

                                    </div>
                                    <h3>
                                        Trendyol Campus
                                    </h3>

                                    <div class="cta-container">
                                        <span class="icon icon-arrow-right-small"></span>
                                        <p class="text-3">
                                            Visit the project
                                        </p>
                                    </div>
                                </a>
                            </div>
                            <div class="child-item" style="@(selected_filter == "All" || selected_filter == "LixioPlus" ? "display:block" : "display:none")">
                                <a asp-area="" asp-controller="Projects" asp-action="Pages" asp-route-page="uccaduneartmuseum">
                                    <div class="item-image"
                                         style="background: url('../../wp-content/uploads/2019/03/08_Outdoor-Exhibition-Terrace_Credit-WU-Qingshan_slider.jpg') no-repeat center; background-size: cover;">

                                    </div>
                                    <h3>
                                        UCCA Dune Art Museum
                                    </h3>

                                    <div class="cta-container">
                                        <span class="icon icon-arrow-right-small"></span>
                                        <p class="text-3">
                                            Visit the project
                                        </p>
                                    </div>
                                </a>
                            </div>
                            <div class="child-item" style="@(selected_filter == "All" || selected_filter == "LixioPlus" ? "display:block" : "display:none")">
                                <a asp-area="" asp-controller="Projects" asp-action="Pages" asp-route-page="opticalblackwhitedentalpracticeincroatia">
                                    <div class="item-image"
                                         style="background: url('../../wp-content/uploads/2019/03/2018_09_Studio-dentistico_lixio_slider_.jpg') no-repeat center; background-size: cover;">

                                    </div>
                                    <h3>
                                        Optical Black &#038; White dental practice in Croatia
                                    </h3>

                                    <div class="cta-container">
                                        <span class="icon icon-arrow-right-small"></span>
                                        <p class="text-3">
                                            Visit the project
                                        </p>
                                    </div>
                                </a>
                            </div>
                            <div class="child-item" style="@(selected_filter == "All" || selected_filter == "LixioPlus" ? "display:block" : "display:none")">
                                <a asp-area="" asp-controller="Projects" asp-action="Pages" asp-route-page="privatehousenearvicenza">
                                    <div class="item-image"
                                         style="background: url('../../wp-content/uploads/2017/11/2017_08_Mazzaro-Costabissara_LIXIO_MT_web.jpg') no-repeat center; background-size: cover;">

                                    </div>
                                    <h3>
                                        Private house near Vicenza
                                    </h3>

                                    <div class="cta-container">
                                        <span class="icon icon-arrow-right-small"></span>
                                        <p class="text-3">
                                            Visit the project
                                        </p>
                                    </div>
                                </a>
                            </div>*@
                            <div class="child-item" style="@(selected_filter == "All" || selected_filter == "SassoitaliaFloor" ? "display:block" : "display:none")">
                                <a asp-area="" asp-controller="Projects" asp-action="Pages" asp-route-page="laghiacciaia">
                                    <div class="item-image"
                                         style="background: url('../../wp-content/uploads/2020/01/2020_01_La-Ghiacciaia_LIXIO_SASSO_30_mod_web_slider.jpg') no-repeat center; background-size: cover;">

                                    </div>
                                    <h3>
                                        La Ghiacciaia
                                    </h3>

                                    <div class="cta-container">
                                        <span class="icon icon-arrow-right-small"></span>
                                        <p class="text-3">
                                            Visit the project
                                        </p>
                                    </div>
                                </a>
                            </div>
                            <div class="child-item" style="@(selected_filter == "All" || selected_filter == "SassoitaliaFloor" ? "display:block" : "display:none")">
                                <a asp-area="" asp-controller="Projects" asp-action="Pages" asp-route-page="campotorresresort">
                                    <div class="item-image"
                                         style="background: url('../../wp-content/uploads/2019/03/2018_09_campo-torres-resort_liguria_SASSO_slider.jpg') no-repeat center; background-size: cover;">

                                    </div>
                                    <h3>
                                        Campo Torres Resort
                                    </h3>

                                    <div class="cta-container">
                                        <span class="icon icon-arrow-right-small"></span>
                                        <p class="text-3">
                                            Visit the project
                                        </p>
                                    </div>
                                </a>
                            </div>
                            @*<div class="child-item" style="@(selected_filter == "All" || selected_filter == "SassoitaliaFloor" ? "display:block" : "display:none")">
                                <a asp-area="" asp-controller="Projects" asp-action="Pages" asp-route-page="acountryretreatthatblendswiththehills">
                                    <div class="item-image"
                                         style="background: url('../../wp-content/uploads/2018/04/rustico_rb_00.jpg') no-repeat center; background-size: cover;">

                                    </div>
                                    <h3>
                                        A country retreat that blends with the hills
                                    </h3>

                                    <div class="cta-container">
                                        <span class="icon icon-arrow-right-small"></span>
                                        <p class="text-3">
                                            Visit the project
                                        </p>
                                    </div>
                                </a>
                            </div>
                            <div class="child-item" style="@(selected_filter == "All" || selected_filter == "SassoitaliaFloor" ? "display:block" : "display:none")">
                                <a asp-area="" asp-controller="Projects" asp-action="Pages" asp-route-page="ogrtorino">
                                    <div class="item-image"
                                         style="background: url('../../wp-content/uploads/2018/05/ogr_torino_slider_bassa.jpg') no-repeat center; background-size: cover;">

                                    </div>
                                    <h3>
                                        OGR Torino
                                    </h3>

                                    <div class="cta-container">
                                        <span class="icon icon-arrow-right-small"></span>
                                        <p class="text-3">
                                            Visit the project
                                        </p>
                                    </div>
                                </a>
                            </div>
                            <div class="child-item" style="@(selected_filter == "All" || selected_filter == "SassoitaliaFloor" ? "display:block" : "display:none")">
                                <a asp-area="" asp-controller="Projects" asp-action="Pages" asp-route-page="privateresidencepordenone">
                                    <div class="item-image"
                                         style="background: url('../../wp-content/uploads/2017/08/slide-mazzaro-pordenone-sassoitalia.jpg') no-repeat center; background-size: cover;">

                                    </div>
                                    <h3>
                                        Private Residence Pordenone
                                    </h3>

                                    <div class="cta-container">
                                        <span class="icon icon-arrow-right-small"></span>
                                        <p class="text-3">
                                            Visit the project
                                        </p>
                                    </div>
                                </a>
                            </div>
                            <div class="child-item" style="@(selected_filter == "All" || selected_filter == "SassoitaliaFloor" ? "display:block" : "display:none")">
                                <a asp-area="" asp-controller="Projects" asp-action="Pages" asp-route-page="squareinslovenia">
                                    <div class="item-image"
                                         style="background: url('../../wp-content/uploads/2017/08/Slider_Piazza_slovenia_sassoitalia.jpg') no-repeat center; background-size: cover;">

                                    </div>
                                    <h3>
                                        Square in Slovenia
                                    </h3>

                                    <div class="cta-container">
                                        <span class="icon icon-arrow-right-small"></span>
                                        <p class="text-3">
                                            Visit the project
                                        </p>
                                    </div>
                                </a>
                            </div>
                            <div class="child-item" style="@(selected_filter == "All" || selected_filter == "SassoitaliaFloor" ? "display:block" : "display:none")">
                                <a asp-area="" asp-controller="Projects" asp-action="Pages" asp-route-page="officesoftheprovinceoftreviso">
                                    <div class="item-image"
                                         style="background: url('../../wp-content/uploads/2017/08/slider_Provincia_di_treviso.jpg') no-repeat center; background-size: cover;">

                                    </div>
                                    <h3>
                                        Offices of the Province of Treviso
                                    </h3>

                                    <div class="cta-container">
                                        <span class="icon icon-arrow-right-small"></span>
                                        <p class="text-3">
                                            Visit the project
                                        </p>
                                    </div>
                                </a>
                            </div>
                            <div class="child-item" style="@(selected_filter == "All" || selected_filter == "SassoitaliaFloor" ? "display:block" : "display:none")">
                                <a asp-area="" asp-controller="Projects" asp-action="Pages" asp-route-page="manfredoniaharbour">
                                    <div class="item-image"
                                         style="background: url('../../wp-content/uploads/2017/08/slider_Porto_Manfredonia.jpg') no-repeat center; background-size: cover;">

                                    </div>
                                    <h3>
                                        Manfredonia Harbour
                                    </h3>

                                    <div class="cta-container">
                                        <span class="icon icon-arrow-right-small"></span>
                                        <p class="text-3">
                                            Visit the project
                                        </p>
                                    </div>
                                </a>
                            </div>
                            <div class="child-item" style="@(selected_filter == "All" || selected_filter == "SassoitaliaFloor" ? "display:block" : "display:none")">
                                <a asp-area="" asp-controller="Projects" asp-action="Pages" asp-route-page="montecatinirefurbishmentofcountryhouses">
                                    <div class="item-image"
                                         style="background: url('../../wp-content/uploads/2017/08/slider_Montecatini.jpg') no-repeat center; background-size: cover;">

                                    </div>
                                    <h3>
                                        Montecatini Refurbishment of a Country Houses
                                    </h3>

                                    <div class="cta-container">
                                        <span class="icon icon-arrow-right-small"></span>
                                        <p class="text-3">
                                            Visit the project
                                        </p>
                                    </div>
                                </a>
                            </div>
                            <div class="child-item" style="@(selected_filter == "All" || selected_filter == "SassoitaliaFloor" ? "display:block" : "display:none")">
                                <a asp-area="" asp-controller="Projects" asp-action="Pages" asp-route-page="privateresidenceverona">
                                    <div class="item-image"
                                         style="background: url('../../wp-content/uploads/2017/08/slider_Verona_zona.jpg') no-repeat center; background-size: cover;">

                                    </div>
                                    <h3>
                                        Private Residence Verona
                                    </h3>

                                    <div class="cta-container">
                                        <span class="icon icon-arrow-right-small"></span>
                                        <p class="text-3">
                                            Visit the project
                                        </p>
                                    </div>
                                </a>
                            </div>
                            <div class="child-item" style="@(selected_filter == "All" || selected_filter == "SassoitaliaFloor" ? "display:block" : "display:none")">
                                <a asp-area="" asp-controller="Projects" asp-action="Pages" asp-route-page="privateresidenceasolo">
                                    <div class="item-image"
                                         style="background: url('../../wp-content/uploads/2017/08/slider_Asolo_casa-privata_sassoitalia.jpg') no-repeat center; background-size: cover;">

                                    </div>
                                    <h3>
                                        Private residence in Asolo
                                    </h3>

                                    <div class="cta-container">
                                        <span class="icon icon-arrow-right-small"></span>
                                        <p class="text-3">
                                            Visit the project
                                        </p>
                                    </div>
                                </a>
                            </div>*@
                            <div class="child-item" style="@(selected_filter == "All" || selected_filter == "Lixio" ? "display:block" : "display:none")">
                                <a asp-area="" asp-controller="Projects" asp-action="Pages" asp-route-page="privatehouseintrento">
                                    <div class="item-image"
                                         style="background: url('../../wp-content/uploads/2020/02/2020_02_Abitazione-Ala_LIXIO_5_web.jpg') no-repeat center; background-size: cover;">

                                    </div>
                                    <h3>
                                        Private house in Trento
                                    </h3>

                                    <div class="cta-container">
                                        <span class="icon icon-arrow-right-small"></span>
                                        <p class="text-3">
                                            Visit the project
                                        </p>
                                    </div>
                                </a>
                            </div>
                            <div class="child-item" style="@(selected_filter == "All" || selected_filter == "Lixio" ? "display:block" : "display:none")">
                                <a asp-area="" asp-controller="Projects" asp-action="Pages" asp-route-page="maldivesresort">
                                    <div class="item-image"
                                         style="background: url('../../wp-content/uploads/2019/03/2018_12_Resort-Maldive_LIXIO_slider.jpg') no-repeat center; background-size: cover;">

                                    </div>
                                    <h3>
                                        Maldives Resort
                                    </h3>

                                    <div class="cta-container">
                                        <span class="icon icon-arrow-right-small"></span>
                                        <p class="text-3">
                                            Visit the project
                                        </p>
                                    </div>
                                </a>
                            </div>

                            <div class="child-item" style="@(selected_filter == "All" || selected_filter == "AcidStainedFloor" ? "display:block" : "display:none")">
                                <a asp-area="" asp-controller="Projects" asp-action="Pages" asp-route-page="eatalyinkuwait">
                                    <div class="item-image"
                                         style="background: url('../../wp-content/uploads/2019/10/2019-09-Eataly-Kuwait_ACID_5-slider.jpg') no-repeat center; background-size: cover;">

                                    </div>
                                    <h3>
                                        Eataly in Kuwait
                                    </h3>

                                    <div class="cta-container">
                                        <span class="icon icon-arrow-right-small"></span>
                                        <p class="text-3">
                                            Visit the project
                                        </p>
                                    </div>
                                </a>
                            </div>
                            <div class="child-item" style="@(selected_filter == "All" || selected_filter == "AcidStainedFloor" ? "display:block" : "display:none")">
                                <a asp-area="" asp-controller="Projects" asp-action="Pages" asp-route-page="privatehouseinibiza">
                                    <div class="item-image"
                                         style="background: url('../../wp-content/uploads/2019/04/2019_04_Casa-a-Ibiza_ACID_1.jpg') no-repeat center; background-size: cover;">

                                    </div>
                                    <h3>
                                        Private house in Ibiza
                                    </h3>

                                    <div class="cta-container">
                                        <span class="icon icon-arrow-right-small"></span>
                                        <p class="text-3">
                                            Visit the project
                                        </p>
                                    </div>
                                </a>
                            </div>
                            <div class="child-item" style="@(selected_filter == "All" || selected_filter == "Rasico" ? "display:block" : "display:none")">
                                <a asp-area="" asp-controller="Projects" asp-action="Pages" asp-route-page="privateapartmentsalento">
                                    <div class="item-image"
                                         style="background: url('../../wp-content/uploads/2020/03/2019_11_Santa-Maria-al-Bagno_RASICO_MT_14_slider.jpg') no-repeat center; background-size: cover;">

                                    </div>
                                    <h3>
                                        Private apartment in Salento
                                    </h3>

                                    <div class="cta-container">
                                        <span class="icon icon-arrow-right-small"></span>
                                        <p class="text-3">
                                            Visit the project
                                        </p>
                                    </div>
                                </a>
                            </div>
                            <div class="child-item" style="@(selected_filter == "All" || selected_filter == "Rasico" ? "display:block" : "display:none")">
                                <a asp-area="" asp-controller="Projects" asp-action="Pages" asp-route-page="privatevillaintreviso">
                                    <div class="item-image"
                                         style="background: url('../../wp-content/uploads/2019/09/2019_08_villa-privata-treviso_ARCHITOP-RASICO_medium_9.jpg') no-repeat center; background-size: cover;">

                                    </div>
                                    <h3>
                                        Private villa in Treviso
                                    </h3>

                                    <div class="cta-container">
                                        <span class="icon icon-arrow-right-small"></span>
                                        <p class="text-3">
                                            Visit the project
                                        </p>
                                    </div>
                                </a>
                            </div>
                            <div class="child-item" style="@(selected_filter == "All" || selected_filter == "NuvolatoArchitop" ? "display:block" : "display:none")">
                                <a asp-area="" asp-controller="Projects" asp-action="Pages" asp-route-page="privatevillaintreviso">
                                    <div class="item-image"
                                         style="background: url('../../wp-content/uploads/2019/09/2019_08_villa-privata-treviso_ARCHITOP-RASICO_medium_9.jpg') no-repeat center; background-size: cover;">

                                    </div>
                                    <h3>
                                        Private villa in Treviso
                                    </h3>

                                    <div class="cta-container">
                                        <span class="icon icon-arrow-right-small"></span>
                                        <p class="text-3">
                                            Visit the project
                                        </p>
                                    </div>
                                </a>
                            </div>
                            <div class="child-item" style="@(selected_filter == "All" || selected_filter == "NuvolatoArchitop" ? "display:block" : "display:none")">
                                <a asp-area="" asp-controller="Projects" asp-action="Pages" asp-route-page="uccaduneartmuseum">
                                    <div class="item-image"
                                         style="background: url('../../wp-content/uploads/2019/03/08_Outdoor-Exhibition-Terrace_Credit-WU-Qingshan_slider.jpg') no-repeat center; background-size: cover;">

                                    </div>
                                    <h3>
                                        UCCA Dune Art Museum
                                    </h3>

                                    <div class="cta-container">
                                        <span class="icon icon-arrow-right-small"></span>
                                        <p class="text-3">
                                            Visit the project
                                        </p>
                                    </div>
                                </a>
                            </div>
                            <div class="child-item" style="@(selected_filter == "All" || selected_filter == "Purometallo" ? "display:block" : "display:none")">
                                <a asp-area="" asp-controller="Projects" asp-action="Pages" asp-route-page="kazanpalacehotel">
                                    <div class="item-image"
                                         style="background: url('../../wp-content/uploads/2019/01/2018_11_hotel_kazan_atrio_4-post-web.jpg') no-repeat center; background-size: cover;">

                                    </div>
                                    <h3>
                                        Kazan Palace Hotel
                                    </h3>

                                    <div class="cta-container">
                                        <span class="icon icon-arrow-right-small"></span>
                                        <p class="text-3">
                                            Visit the project
                                        </p>
                                    </div>
                                </a>
                            </div>
                            <div class="child-item" style="@(selected_filter == "All" || selected_filter == "IdealWall" ? "display:block" : "display:none")">
                                <a asp-area="" asp-controller="Projects" asp-action="Pages" asp-route-page="tirpitzmuseum">
                                    <div class="item-image"
                                         style="background: url('../../wp-content/uploads/2018/12/06.jpg') no-repeat center; background-size: cover;">

                                    </div>
                                    <h3>
                                        Tirpitz Museum
                                    </h3>

                                    <div class="cta-container">
                                        <span class="icon icon-arrow-right-small"></span>
                                        <p class="text-3">
                                            Visit the project
                                        </p>
                                    </div>
                                </a>
                            </div>
                            <div class="child-item" style="@(selected_filter == "All" || selected_filter == "IdealWall" ? "display:block" : "display:none")">
                                <a asp-area="" asp-controller="Projects" asp-action="Pages" asp-route-page="hotellacascina">
                                    <div class="item-image"
                                         style="background: url('../../wp-content/uploads/2017/08/slider-Stampati-Isidoro-sicilia-.jpg') no-repeat center; background-size: cover;">

                                    </div>
                                    <h3>
                                        Hotel La Cascina
                                    </h3>

                                    <div class="cta-container">
                                        <span class="icon icon-arrow-right-small"></span>
                                        <p class="text-3">
                                            Visit the project
                                        </p>
                                    </div>
                                </a>
                            </div>
                            <div class="child-item" style="@(selected_filter == "All" || selected_filter == "StampedConcrete" ? "display:block" : "display:none")">
                                <a asp-area="" asp-controller="Projects" asp-action="Pages" asp-route-page="acountryretreatthatblendswiththehills">
                                    <div class="item-image"
                                         style="background: url('../../wp-content/uploads/2018/04/rustico_rb_00.jpg') no-repeat center; background-size: cover;">

                                    </div>
                                    <h3>
                                        A country retreat that blends with the hills
                                    </h3>

                                    <div class="cta-container">
                                        <span class="icon icon-arrow-right-small"></span>
                                        <p class="text-3">
                                            Visit the project
                                        </p>
                                    </div>
                                </a>
                            </div>
                            <div class="child-item" style="@(selected_filter == "All" || selected_filter == "StampedConcrete" ? "display:block" : "display:none")">
                                <a asp-area="" asp-controller="Projects" asp-action="Pages" asp-route-page="aquafollie">
                                    <div class="item-image"
                                         style="background: url('../../wp-content/uploads/2017/08/slider_Aqua_Follie_STAMPATO.jpg') no-repeat center; background-size: cover;">

                                    </div>
                                    <h3>
                                        Aquafollie
                                    </h3>

                                    <div class="cta-container">
                                        <span class="icon icon-arrow-right-small"></span>
                                        <p class="text-3">
                                            Visit the project
                                        </p>
                                    </div>
                                </a>
                            </div>
                            <div class="child-item" style="@(selected_filter == "All" || selected_filter == "StenciltopFloor" ? "display:block" : "display:none")">
                                <a asp-area="" asp-controller="Projects" asp-action="Pages" asp-route-page="privateresidenceforli">
                                    <div class="item-image"
                                         style="background: url('../../wp-content/uploads/2017/08/slider_Forli%cc%80_Pescara_Bergamo.jpg') no-repeat center; background-size: cover;">

                                    </div>
                                    <h3>
                                        Private Residence Forlì
                                    </h3>

                                    <div class="cta-container">
                                        <span class="icon icon-arrow-right-small"></span>
                                        <p class="text-3">
                                            Visit the project
                                        </p>
                                    </div>
                                </a>
                            </div>
                            <div class="child-item" style="@(selected_filter == "All" || selected_filter == "IdealTix" ? "display:block" : "display:none")">
                                <a asp-area="" asp-controller="Projects" asp-action="Pages" asp-route-page="winecellar">
                                    <div class="item-image"
                                         style="background: url('../../wp-content/uploads/2017/08/slider_Wine_cellar_Nathan_USA.jpg') no-repeat center; background-size: cover;">

                                    </div>
                                    <h3>
                                        Wine Cellar
                                    </h3>

                                    <div class="cta-container">
                                        <span class="icon icon-arrow-right-small"></span>
                                        <p class="text-3">
                                            Visit the project
                                        </p>
                                    </div>
                                </a>
                            </div>
                            <div class="child-item" style="@(selected_filter == "All" || selected_filter == "IdealTix" ? "display:block" : "display:none")">
                                <a asp-area="" asp-controller="Projects" asp-action="Pages" asp-route-page="waterparkdruskininkai">
                                    <div class="item-image"
                                         style="background: url('../../wp-content/uploads/2017/06/slider_Parchi-termali-Lituania.jpg') no-repeat center; background-size: cover;">

                                    </div>
                                    <h3>
                                        Water Park Druskininkai
                                    </h3>

                                    <div class="cta-container">
                                        <span class="icon icon-arrow-right-small"></span>
                                        <p class="text-3">
                                            Visit the project
                                        </p>
                                    </div>
                                </a>
                            </div>



                        </div>
                    </div> <!-- container-->
                </main><!-- /.main -->
            </div><!-- /.content -->

            <div class="prefooter container">
                <div class="row">
                    <div class="cta-title-container col-md-6">
                        <h3>Contact Us</h3>
                    </div>

                    <div class="cta-container col-md-4">
                        <p class="text-1">
                            Do you have any requests or queries?<br />
                            Do you want more information about our products and services?<br />
                            Do you wish to become an Ideal Work partner or simply contact the company?
                        </p>
                        <a href="#" class="cta">
                            <span class="icon icon-arrow-right-small"></span>
                            <span class="text-3"> Contact Us</span>
                        </a>
                    </div>
                </div>
            </div>
        </div><!-- /.wrap -->
    </body>